
<section class="section section--eighth">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="section-title section-title--white">
      <div class="title-wrapper">
        <div class="lines lines--left"><span class="lines__item lines__item--top"></span><span class="lines__item lines__item--bottom"></span>
        </div><img class="title-wrapper__image title-wrapper__image--left" src="../static/img/3rhombs.svg" alt="Rombs" title=""/>
        <p class="text">team
        </p>
        <p class="text text text--decorate">members
        </p><img class="title-wrapper__image title-wrapper__image--right" src="../static/img/3rhombs.svg" alt="Rombs" title=""/>
        <div class="lines lines--right"><span class="lines__item lines__item--top"></span><span class="lines__item lines__item--bottom"></span>
        </div>
      </div>
      <p class="text text text--caption">We’re some creative people with powerful knowledge &amp; awesome skills behind the scene bringing you the bests
      </p>
    </div>
    <div class="slider-wrapper">
      <div class="cards-wrapper slick-team">
        <div class="card">
          <div class="card-block card-block--first">
            <div class="card-block__item card-block__item--front"> 
            </div>
            <div class="card-block__item card-block__item--back">
              <div class="social-wrapper"> <a class="btn" href="#"> 
                <p class="text">&#xe093;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe094;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe096;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe09c;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe09b;
                </p></a>
              </div>
            </div>
          </div>
          <div class="card-block card-block--second"><a class="btn" href="#">alexis simpson</a>
            <p class="text text--position">CEO &amp; Developer
            </p><span class="line"> </span>
            <div class="card-block__item card-block__item--mail">
              <p class="text text--pic">&#xe076;
              </p><a class="link" href="mailto:a.simpson@unique.com">a.simpson@unique.com</a>
            </div>
            <div class="card-block__item card-block__item--telephone">
              <p class="text text--pic">&#xe090;
              </p><a class="link" href="tel:+1911772221111">+1 911 (77) 222-1111</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-block card-block--first">
            <div class="card-block__item card-block__item--front"> 
            </div>
            <div class="card-block__item card-block__item--back">
              <div class="social-wrapper"> <a class="btn" href="#"> 
                <p class="text">&#xe093;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe094;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe096;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe09c;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe09b;
                </p></a>
              </div>
            </div>
          </div>
          <div class="card-block card-block--second"><a class="btn" href="#">steven cole</a>
            <p class="text text--position">User Interface Designer
            </p><span class="line"> </span>
            <div class="card-block__item card-block__item--mail">
              <p class="text text--pic">&#xe076;
              </p><a class="link" href="mailto:s.cole@unique.com">s.cole@unique.com</a>
            </div>
            <div class="card-block__item card-block__item--telephone">
              <p class="text text--pic">&#xe090;
              </p><a class="link" href="tel:+1911772222222">+1 911 (77) 222-2222</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-block card-block--first">
            <div class="card-block__item card-block__item--front"> 
            </div>
            <div class="card-block__item card-block__item--back">
              <div class="social-wrapper"> <a class="btn" href="#"> 
                <p class="text">&#xe093;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe094;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe096;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe09c;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe09b;
                </p></a>
              </div>
            </div>
          </div>
          <div class="card-block card-block--second"><a class="btn" href="#">Frank piener</a>
            <p class="text text--position">Sales Manager
            </p><span class="line"> </span>
            <div class="card-block__item card-block__item--mail">
              <p class="text text--pic">&#xe076;
              </p><a class="link" href="mailto:a.lennon@unique.com">a.lennon@unique.com</a>
            </div>
            <div class="card-block__item card-block__item--telephone">
              <p class="text text--pic">&#xe090;
              </p><a class="link" href="tel:+1911772223333">+1 911 (77) 222-3333</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-block card-block--first">
            <div class="card-block__item card-block__item--front"> 
            </div>
            <div class="card-block__item card-block__item--back">
              <div class="social-wrapper"> <a class="btn" href="#"> 
                <p class="text">&#xe093;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe094;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe096;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe09c;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe09b;
                </p></a>
              </div>
            </div>
          </div>
          <div class="card-block card-block--second"><a class="btn" href="#">ashley lennon</a>
            <p class="text text--position">IT Specialist
            </p><span class="line"> </span>
            <div class="card-block__item card-block__item--mail">
              <p class="text text--pic">&#xe076;
              </p><a class="link" href="mailto:a.lennon@unique.com">a.lennon@unique.com</a>
            </div>
            <div class="card-block__item card-block__item--telephone">
              <p class="text text--pic">&#xe090;
              </p><a class="link" href="tel:+1911772224444">+1 911 (77) 222-4444</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-block card-block--first">
            <div class="card-block__item card-block__item--front"> 
            </div>
            <div class="card-block__item card-block__item--back">
              <div class="social-wrapper"> <a class="btn" href="#"> 
                <p class="text">&#xe093;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe094;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe096;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe09c;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe09b;
                </p></a>
              </div>
            </div>
          </div>
          <div class="card-block card-block--second"><a class="btn" href="#">alexis simpson</a>
            <p class="text text--position">CEO &amp; Developer
            </p><span class="line"> </span>
            <div class="card-block__item card-block__item--mail">
              <p class="text text--pic">&#xe076;
              </p><a class="link" href="mailto:a.simpson@unique.com">a.simpson@unique.com</a>
            </div>
            <div class="card-block__item card-block__item--telephone">
              <p class="text text--pic">&#xe090;
              </p><a class="link" href="tel:+1911772221111">+1 911 (77) 222-1111</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-block card-block--first">
            <div class="card-block__item card-block__item--front"> 
            </div>
            <div class="card-block__item card-block__item--back">
              <div class="social-wrapper"> <a class="btn" href="#"> 
                <p class="text">&#xe093;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe094;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe096;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe09c;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe09b;
                </p></a>
              </div>
            </div>
          </div>
          <div class="card-block card-block--second"><a class="btn" href="#">steven cole</a>
            <p class="text text--position">User Interface Designer
            </p><span class="line"> </span>
            <div class="card-block__item card-block__item--mail">
              <p class="text text--pic">&#xe076;
              </p><a class="link" href="mailto:s.cole@unique.com">s.cole@unique.com</a>
            </div>
            <div class="card-block__item card-block__item--telephone">
              <p class="text text--pic">&#xe090;
              </p><a class="link" href="tel:+1911772222222">+1 911 (77) 222-2222</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-block card-block--first">
            <div class="card-block__item card-block__item--front"> 
            </div>
            <div class="card-block__item card-block__item--back">
              <div class="social-wrapper"> <a class="btn" href="#"> 
                <p class="text">&#xe093;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe094;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe096;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe09c;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe09b;
                </p></a>
              </div>
            </div>
          </div>
          <div class="card-block card-block--second"><a class="btn" href="#">Frank piener</a>
            <p class="text text--position">Sales Manager
            </p><span class="line"> </span>
            <div class="card-block__item card-block__item--mail">
              <p class="text text--pic">&#xe076;
              </p><a class="link" href="mailto:a.lennon@unique.com">a.lennon@unique.com</a>
            </div>
            <div class="card-block__item card-block__item--telephone">
              <p class="text text--pic">&#xe090;
              </p><a class="link" href="tel:+1911772223333">+1 911 (77) 222-3333</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-block card-block--first">
            <div class="card-block__item card-block__item--front"> 
            </div>
            <div class="card-block__item card-block__item--back">
              <div class="social-wrapper"> <a class="btn" href="#"> 
                <p class="text">&#xe093;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe094;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe096;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe09c;
                </p></a><a class="btn" href="#">
                <p class="text">&#xe09b;
                </p></a>
              </div>
            </div>
          </div>
          <div class="card-block card-block--second"><a class="btn" href="#">ashley lennon</a>
            <p class="text text--position">IT Specialist
            </p><span class="line"> </span>
            <div class="card-block__item card-block__item--mail">
              <p class="text text--pic">&#xe076;
              </p><a class="link" href="mailto:a.lennon@unique.com">a.lennon@unique.com</a>
            </div>
            <div class="card-block__item card-block__item--telephone">
              <p class="text text--pic">&#xe090;
              </p><a class="link" href="tel:+1911772224444">+1 911 (77) 222-4444</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>