
<section class="section section--eleventh">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="cards-wrapper">
      <div class="card"> <a class="card__link" href="#">read more</a>
        <div class="card__item card__item--title">
          <p class="text text--pic">&#xe033;
          </p>
          <p class="text text--title">standard plan
          </p>
          <p class="text text--pic">&#xe033;
          </p>
        </div>
        <div class="block">
          <div class="block__item block__item--value">
            <p class="text">$
            </p>
          </div>
          <div class="block__item block__item--price">
            <p class="text text--dollars">19
            </p>
            <p class="text text--cents">99
            </p>
            <p class="text text--dot">&#x5e;
            </p>
          </div>
          <div class="text text--mounts">Monthly
          </div>
        </div><span class="card__line"> </span>
        <div class="card__item card__item--offer"> 
          <p class="text">5 Projects
          </p>
          <p class="text">5 GB Storage
          </p>
          <p class="text">Unlimited Users
          </p>
          <p class="text">10 GB Bandwith
          </p>
          <p class="text text--last">Enhanced Security
          </p>
        </div><span class="card__line"> </span>
      </div>
      <div class="card"> <a class="card__link" href="#">read more</a>
        <div class="card__item card__item--title">
          <p class="text text--pic">&#xe033;
          </p>
          <p class="text text--title">premium plan
          </p>
          <p class="text text--pic">&#xe033;
          </p>
        </div>
        <div class="block">
          <div class="block__item block__item--value">
            <p class="text">$
            </p>
          </div>
          <div class="block__item block__item--price">
            <p class="text text--dollars">29
            </p>
            <p class="text text--cents">99
            </p>
            <p class="text text--dot">&#x5e;
            </p>
          </div>
          <div class="text text--mounts">Monthly
          </div>
        </div><span class="card__line"> </span>
        <div class="card__item card__item--offer"> 
          <p class="text">10 Projects
          </p>
          <p class="text">15 GB Storage
          </p>
          <p class="text">Unlimited Users
          </p>
          <p class="text">20 GB Bandwith
          </p>
          <p class="text text--last">Enhanced Security
          </p>
        </div><span class="card__line"> </span>
      </div>
      <div class="card"> <a class="card__link" href="#">read more</a>
        <div class="card__item card__item--advance card__item--title">
          <p class="text text--pic">&#xe033;
          </p>
          <p class="text text--title">advanced plan
          </p>
          <p class="text text--pic">&#xe033;
          </p>
        </div>
        <div class="block">
          <div class="block__item block__item--value">
            <p class="text">$
            </p>
          </div>
          <div class="block__item block__item--price">
            <p class="text text--dollars">49
            </p>
            <p class="text text--cents">99
            </p>
            <p class="text text--dot">&#x5e;
            </p>
          </div>
          <div class="text text--mounts">Monthly
          </div>
        </div><span class="card__line"> </span>
        <div class="card__item card__item--offer"> 
          <p class="text">15 Projects
          </p>
          <p class="text">30 GB Storage
          </p>
          <p class="text">Unlimited Users
          </p>
          <p class="text">50 GB Bandwith
          </p>
          <p class="text text--last">Enhanced Security
          </p>
        </div><span class="card__line"> </span>
      </div>
      <div class="card"> <a class="card__link" href="#">read more</a>
        <div class="card__item card__item--title">
          <p class="text text--pic">&#xe033;
          </p>
          <p class="text text--title">ultimate plan
          </p>
          <p class="text text--pic">&#xe033;
          </p>
        </div>
        <div class="block">
          <div class="block__item block__item--value">
            <p class="text">$
            </p>
          </div>
          <div class="block__item block__item--price">
            <p class="text text--dollars">99
            </p>
            <p class="text text--cents">99
            </p>
            <p class="text text--dot">&#x5e;
            </p>
          </div>
          <div class="text text--mounts">Monthly
          </div>
        </div><span class="card__line"> </span>
        <div class="card__item card__item--offer"> 
          <p class="text">Unlimited Projects
          </p>
          <p class="text">Unlimited Storage
          </p>
          <p class="text">Unlimited Users
          </p>
          <p class="text">Unlimite Bandwith
          </p>
          <p class="text text--last">Enhanced Security
          </p>
        </div><span class="card__line"> </span>
      </div>
    </div>
  </div>
</section>