
<section class="section section--fifth">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl g-container--fit_mac-mac g-container--fit_fhd-fhd">
    <div class="section-title section-title--white">
      <div class="title-wrapper">
        <div class="lines lines--left"><span class="lines__item lines__item--top"></span><span class="lines__item lines__item--bottom"></span>
        </div><img class="title-wrapper__image title-wrapper__image--left" src="../static/img/3rhombs.svg" alt="Rombs" title=""/>
        <p class="text">sample
        </p>
        <p class="text text text--decorate">works
        </p><img class="title-wrapper__image title-wrapper__image--right" src="../static/img/3rhombs.svg" alt="Rombs" title=""/>
        <div class="lines lines--right"><span class="lines__item lines__item--top"></span><span class="lines__item lines__item--bottom"></span>
        </div>
      </div>
      <p class="text text text--caption">Let’s take a look at some of the best of our works here, we love them and hope you too
      </p>
    </div>
    <div class="cards-wrapper g-row g-row g-row--appearance_spaced">
      <div class="card g-cell g-cols g-cols g-cols--12 g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--4-xl g-cols g-cols--3-mac g-cols g-cols--2-fhd">
        <div class="card__item card__item--front">
        </div>
        <div class="card__item card__item--back">
          <div class="info-wrapper"> 
            <div class="social-wrapper"><a class="link link--first" href="#">
              <p class="text text--pic">&#xe02b;
              </p></a><a class="link link--second" href="#">
              <p class="text text--pic">&#x55;
              </p></a>
            </div>
            <div class="description-wrapper">
              <div class="block block--first">
                <p class="text">Corporate Brochure
                </p>
                <p class="text text--about">Illustration / Print
                </p>
              </div>
              <div class="block block--second">
                <p class="text text--pic">&#xe089;
                </p>
                <p class="text text--number">138
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card g-cell g-cols g-cols g-cols--12 g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--4-xl g-cols g-cols--3-mac g-cols g-cols--2-fhd">
        <div class="card__item card__item--front">
        </div>
        <div class="card__item card__item--back">
          <div class="info-wrapper"> 
            <div class="social-wrapper"><a class="link link--first" href="#">
              <p class="text text--pic">&#xe02b;
              </p></a><a class="link link--second" href="#">
              <p class="text text--pic">&#x55;
              </p></a>
            </div>
            <div class="description-wrapper">
              <div class="block block--first">
                <p class="text">Corporate Brochure
                </p>
                <p class="text text--about">Illustration / Print
                </p>
              </div>
              <div class="block block--second">
                <p class="text text--pic">&#xe089;
                </p>
                <p class="text text--number">138
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card g-cell g-cols g-cols g-cols--12 g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--4-xl g-cols g-cols--3-mac g-cols g-cols--2-fhd">
        <div class="card__item card__item--front">
        </div>
        <div class="card__item card__item--back">
          <div class="info-wrapper"> 
            <div class="social-wrapper"><a class="link link--first" href="#">
              <p class="text text--pic">&#xe02b;
              </p></a><a class="link link--second" href="#">
              <p class="text text--pic">&#x55;
              </p></a>
            </div>
            <div class="description-wrapper">
              <div class="block block--first">
                <p class="text">Corporate Brochure
                </p>
                <p class="text text--about">Illustration / Print
                </p>
              </div>
              <div class="block block--second">
                <p class="text text--pic">&#xe089;
                </p>
                <p class="text text--number">138
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card g-cell g-cols g-cols g-cols--12 g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--4-xl g-cols g-cols--3-mac g-cols g-cols--2-fhd">
        <div class="card__item card__item--front">
        </div>
        <div class="card__item card__item--back">
          <div class="info-wrapper"> 
            <div class="social-wrapper"><a class="link link--first" href="#">
              <p class="text text--pic">&#xe02b;
              </p></a><a class="link link--second" href="#">
              <p class="text text--pic">&#x55;
              </p></a>
            </div>
            <div class="description-wrapper">
              <div class="block block--first">
                <p class="text">Corporate Brochure
                </p>
                <p class="text text--about">Illustration / Print
                </p>
              </div>
              <div class="block block--second">
                <p class="text text--pic">&#xe089;
                </p>
                <p class="text text--number">138
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card g-cell g-cols g-cols g-cols--12 g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--4-xl g-cols g-cols--3-mac g-cols g-cols--2-fhd">
        <div class="card__item card__item--front">
        </div>
        <div class="card__item card__item--back">
          <div class="info-wrapper"> 
            <div class="social-wrapper"><a class="link link--first" href="#">
              <p class="text text--pic">&#xe02b;
              </p></a><a class="link link--second" href="#">
              <p class="text text--pic">&#x55;
              </p></a>
            </div>
            <div class="description-wrapper">
              <div class="block block--first">
                <p class="text">Corporate Brochure
                </p>
                <p class="text text--about">Illustration / Print
                </p>
              </div>
              <div class="block block--second">
                <p class="text text--pic">&#xe089;
                </p>
                <p class="text text--number">138
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card g-cell g-cols g-cols g-cols--12 g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--4-xl g-cols g-cols--3-mac g-cols g-cols--2-fhd">
        <div class="card__item card__item--front">
        </div>
        <div class="card__item card__item--back">
          <div class="info-wrapper"> 
            <div class="social-wrapper"><a class="link link--first" href="#">
              <p class="text text--pic">&#xe02b;
              </p></a><a class="link link--second" href="#">
              <p class="text text--pic">&#x55;
              </p></a>
            </div>
            <div class="description-wrapper">
              <div class="block block--first">
                <p class="text">Corporate Brochure
                </p>
                <p class="text text--about">Illustration / Print
                </p>
              </div>
              <div class="block block--second">
                <p class="text text--pic">&#xe089;
                </p>
                <p class="text text--number">138
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card g-cell g-cols g-cols g-cols--12 g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--4-xl g-cols g-cols--3-mac g-cols g-cols--2-fhd">
        <div class="card__item card__item--front">
        </div>
        <div class="card__item card__item--back">
          <div class="info-wrapper"> 
            <div class="social-wrapper"><a class="link link--first" href="#">
              <p class="text text--pic">&#xe02b;
              </p></a><a class="link link--second" href="#">
              <p class="text text--pic">&#x55;
              </p></a>
            </div>
            <div class="description-wrapper">
              <div class="block block--first">
                <p class="text">Corporate Brochure
                </p>
                <p class="text text--about">Illustration / Print
                </p>
              </div>
              <div class="block block--second">
                <p class="text text--pic">&#xe089;
                </p>
                <p class="text text--number">138
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card g-cell g-cols g-cols g-cols--12 g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--4-xl g-cols g-cols--3-mac g-cols g-cols--2-fhd">
        <div class="card__item card__item--front">
        </div>
        <div class="card__item card__item--back">
          <div class="info-wrapper"> 
            <div class="social-wrapper"><a class="link link--first" href="#">
              <p class="text text--pic">&#xe02b;
              </p></a><a class="link link--second" href="#">
              <p class="text text--pic">&#x55;
              </p></a>
            </div>
            <div class="description-wrapper">
              <div class="block block--first">
                <p class="text">Corporate Brochure
                </p>
                <p class="text text--about">Illustration / Print
                </p>
              </div>
              <div class="block block--second">
                <p class="text text--pic">&#xe089;
                </p>
                <p class="text text--number">138
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card g-cell g-cols g-cols g-cols--12 g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--4-xl g-cols g-cols--3-mac g-cols g-cols--2-fhd">
        <div class="card__item card__item--front">
        </div>
        <div class="card__item card__item--back">
          <div class="info-wrapper"> 
            <div class="social-wrapper"><a class="link link--first" href="#">
              <p class="text text--pic">&#xe02b;
              </p></a><a class="link link--second" href="#">
              <p class="text text--pic">&#x55;
              </p></a>
            </div>
            <div class="description-wrapper">
              <div class="block block--first">
                <p class="text">Corporate Brochure
                </p>
                <p class="text text--about">Illustration / Print
                </p>
              </div>
              <div class="block block--second">
                <p class="text text--pic">&#xe089;
                </p>
                <p class="text text--number">138
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card g-cell g-cols g-cols g-cols--12 g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--4-xl g-cols g-cols--3-mac g-cols g-cols--2-fhd">
        <div class="card__item card__item--front">
        </div>
        <div class="card__item card__item--back">
          <div class="info-wrapper"> 
            <div class="social-wrapper"><a class="link link--first" href="#">
              <p class="text text--pic">&#xe02b;
              </p></a><a class="link link--second" href="#">
              <p class="text text--pic">&#x55;
              </p></a>
            </div>
            <div class="description-wrapper">
              <div class="block block--first">
                <p class="text">Corporate Brochure
                </p>
                <p class="text text--about">Illustration / Print
                </p>
              </div>
              <div class="block block--second">
                <p class="text text--pic">&#xe089;
                </p>
                <p class="text text--number">138
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card g-cell g-cols g-cols g-cols--12 g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--4-xl g-cols g-cols--3-mac g-cols g-cols--2-fhd">
        <div class="card__item card__item--front">
        </div>
        <div class="card__item card__item--back">
          <div class="info-wrapper"> 
            <div class="social-wrapper"><a class="link link--first" href="#">
              <p class="text text--pic">&#xe02b;
              </p></a><a class="link link--second" href="#">
              <p class="text text--pic">&#x55;
              </p></a>
            </div>
            <div class="description-wrapper">
              <div class="block block--first">
                <p class="text">Corporate Brochure
                </p>
                <p class="text text--about">Illustration / Print
                </p>
              </div>
              <div class="block block--second">
                <p class="text text--pic">&#xe089;
                </p>
                <p class="text text--number">138
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card g-cell g-cols g-cols g-cols--12 g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--4-xl g-cols g-cols--3-mac g-cols g-cols--2-fhd">
        <div class="card__item card__item--front">
        </div>
        <div class="card__item card__item--back">
          <div class="info-wrapper"> 
            <div class="social-wrapper"><a class="link link--first" href="#">
              <p class="text text--pic">&#xe02b;
              </p></a><a class="link link--second" href="#">
              <p class="text text--pic">&#x55;
              </p></a>
            </div>
            <div class="description-wrapper">
              <div class="block block--first">
                <p class="text">Corporate Brochure
                </p>
                <p class="text text--about">Illustration / Print
                </p>
              </div>
              <div class="block block--second">
                <p class="text text--pic">&#xe089;
                </p>
                <p class="text text--number">138
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><a class="btn" href="#">view all works</a>
  </div>
</section>