
<section class="section section--first">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="section-title section-title--white">
      <div class="title-wrapper">
        <div class="lines lines--left"><span class="lines__item lines__item--top"></span><span class="lines__item lines__item--bottom"></span>
        </div><img class="title-wrapper__image title-wrapper__image--left" src="../static/img/3rhombs.svg" alt="Rombs" title=""/>
        <p class="text">what we
        </p>
        <p class="text text text--decorate">offer
        </p><img class="title-wrapper__image title-wrapper__image--right" src="../static/img/3rhombs.svg" alt="Rombs" title=""/>
        <div class="lines lines--right"><span class="lines__item lines__item--top"></span><span class="lines__item lines__item--bottom"></span>
        </div>
      </div>
      <p class="text text text--caption">We offer our customers the best services &amp; solutions, this is our main services list
      </p>
    </div>
    <div class="cards-wrapper"> 
      <div class="card"><a class="card__link" href="#">read more</a><span class="card__pic">
        <p class="text text text--pic">&#xe00e;
        </p></span>
        <h3 class="caption">responsive &amp; multipurpose
        </h3>
        <p class="text text text--description">Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
        </p>
      </div>
      <div class="card"><a class="card__link" href="#">read more</a><span class="card__pic">
        <p class="text text text--moron text text--pic">&#xe0f9;
        </p></span>
        <h3 class="caption">easy customization
        </h3>
        <p class="text text text--description">Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
        </p>
      </div>
      <div class="card"><a class="card__link" href="#">read more</a><span class="card__pic">
        <p class="text text text--pic">&#xe028;
        </p></span>
        <h3 class="caption">awesome friendly support
        </h3>
        <p class="text text text--description">Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
        </p>
      </div>
    </div>
  </div>
</section>