
<section class="section section--fourth">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl"><span class="marker">
    <p class="marker__text">&#xe085;
    </p></span>
    <div class="section-title section-title--dark">
      <div class="title-wrapper"><img class="title-wrapper__image title-wrapper__image--left" src="../static/img/3rhombs.svg" alt="Rombs" title=""/>
        <p class="text">our powerful
        </p>
        <p class="text text text--decorate">skills
        </p><img class="title-wrapper__image title-wrapper__image--right" src="../static/img/3rhombs.svg" alt="Rombs" title=""/>
      </div>
      <p class="text text text--caption">We’re good and experienced at different things and areas and we promise about qulity of our works
      </p>
    </div>
    <div class="circles-wrapper g-row g-row g-row--appearance_spaced">
      <div class="circle g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-sm g-cols g-cols--4-md g-cols g-cols--2-xl">
        <div class="circle__item">
          <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="120" height="120" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle-chart__background" stroke="var(--theme-accent-white)" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
            <circle class="circle-chart__circle" stroke="var(--theme-accent-aqumarin)" stroke-width="1" stroke-dasharray="75" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
          </svg>
          <p class="text text text--procent">75%
          </p>
        </div>
        <p class="text">web design
        </p>
      </div>
      <div class="circle g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-sm g-cols g-cols--4-md g-cols g-cols--2-xl">
        <div class="circle__item">
          <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="120" height="120" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle-chart__background" stroke="var(--theme-accent-white)" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
            <circle class="circle-chart__circle" stroke="var(--theme-accent-aqumarin)" stroke-width="1" stroke-dasharray="92" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
          </svg>
          <p class="text text text--procent">92%
          </p>
        </div>
        <p class="text">web development
        </p>
      </div>
      <div class="circle g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-sm g-cols g-cols--4-md g-cols g-cols--2-xl">
        <div class="circle__item">
          <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="120" height="120" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle-chart__background" stroke="var(--theme-accent-white)" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
            <circle class="circle-chart__circle" stroke="var(--theme-accent-aqumarin)" stroke-width="1" stroke-dasharray="68" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
          </svg>
          <p class="text text text--procent">68%
          </p>
        </div>
        <p class="text">speed optimization
        </p>
      </div>
      <div class="circle g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-sm g-cols g-cols--4-md g-cols g-cols--2-xl">
        <div class="circle__item">
          <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="120" height="120" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle-chart__background" stroke="var(--theme-accent-white)" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
            <circle class="circle-chart__circle" stroke="var(--theme-accent-aqumarin)" stroke-width="1" stroke-dasharray="100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
          </svg>
          <p class="text text text--procent">100%
          </p>
        </div>
        <p class="text">customer support
        </p>
      </div>
      <div class="circle g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-sm g-cols g-cols--4-md g-cols g-cols--2-xl">
        <div class="circle__item">
          <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="120" height="120" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle-chart__background" stroke="var(--theme-accent-white)" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
            <circle class="circle-chart__circle" stroke="var(--theme-accent-aqumarin)" stroke-width="1" stroke-dasharray="83" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
          </svg>
          <p class="text text text--procent">83%
          </p>
        </div>
        <p class="text">marketing
        </p>
      </div>
      <div class="circle g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-sm g-cols g-cols--4-md g-cols g-cols--2-xl">
        <div class="circle__item">
          <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="120" height="120" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle-chart__background" stroke="var(--theme-accent-white)" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
            <circle class="circle-chart__circle" stroke="var(--theme-accent-aqumarin)" stroke-width="1" stroke-dasharray="50" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
          </svg>
          <p class="text text text--procent">50%
          </p>
        </div>
        <p class="text">advertisement
        </p>
      </div>
    </div>
  </div>
</section>