
<section class="section section--general">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl g-container--fit_mac-mac g-container--fit_fhd-fhd">
    <div class="information">
      <p class="text">what are you waiting for ?
      </p>
      <h2 class="subtitle">let’s be creative !
      </h2>
      <div class="information__item information__item--first"> 
        <h1 class="title">Startuprr,
        </h1>
        <p class="text">next generation & highly flexible wordpress theme
        </p>
      </div>
      <div class="information__item information__item--second"><span class="lines lines--left"></span><img class="information__image information__image--left" src="../static/img/3rhombs.svg" alt="Rombs" title=""/>
        <p class="text text text--decorate">start
        </p>
        <p class="text"> doing that
        </p><img class="information__image information__image--right" src="../static/img/3rhombs.svg" alt="Rombs" title=""/><span class="lines lines--right"></span>
      </div>
      <p class="text text text--accept">&#x3b;
      </p>
    </div>
  </div>
</section>