
<section class="section section--ninth">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl"><span class="marker marker--dark">
    <p class="marker__text">&#x7b;
    </p></span>
    <div class="slick-wrapper"> 
      <div class="cards-wrapper slick-quote">
        <div class="card"> 
          <div class="card__item card__item--first">
            <p class="text text--name">alexis simpson
            </p>
            <p class="text text--position">- CEO &amp; Developer
            </p>
          </div>
          <p class="text text--quotes"> <span class="text text--pic">&#x7b;</span>  Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis. <span class="text text--pic">&#x7b;</span> 
          </p>
        </div>
        <div class="card"> 
          <div class="card__item card__item--first">
            <p class="text text--name">steven cole
            </p>
            <p class="text text--position">- User Interface Designer
            </p>
          </div>
          <p class="text text--quotes"> <span class="text text--pic">&#x7b;</span>  Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis. <span class="text text--pic">&#x7b;</span> 
          </p>
        </div>
        <div class="card"> 
          <div class="card__item card__item--first">
            <p class="text text--name">Frank piener
            </p>
            <p class="text text--position">- Sales Manager
            </p>
          </div>
          <p class="text text--quotes"> <span class="text text--pic">&#x7b;</span>  Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis. <span class="text text--pic">&#x7b;</span> 
          </p>
        </div>
        <div class="card"> 
          <div class="card__item card__item--first">
            <p class="text text--name">ashley lennon
            </p>
            <p class="text text--position">- IT Specialist
            </p>
          </div>
          <p class="text text--quotes"> <span class="text text--pic">&#x7b;</span>  Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis. <span class="text text--pic">&#x7b;</span> 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>