
<section class="section section--second">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl"><span class="marker">
    <p class="marker__text">&#xe06e;
    </p></span>
    <div class="section-title section-title--dark">
      <div class="title-wrapper"><img class="title-wrapper__image title-wrapper__image--left" src="../static/img/3rhombs.svg" alt="Rombs" title=""/>
        <p class="text">amazing
        </p>
        <p class="text text text--decorate">features
        </p><img class="title-wrapper__image title-wrapper__image--right" src="../static/img/3rhombs.svg" alt="Rombs" title=""/>
      </div>
      <p class="text text text--caption">With unlimited features that we offer, we promise it’s possible to make everything that was impossible for you !
      </p>
    </div>
    <div class="content">
      <div class="items-wrapper"> 
        <div class="item"> 
          <p class="text text text--pick">&#xe00e;
          </p><span class="item__block"> 
          <p class="text text text--caption">responsive & multipurpose
          </p>
          <p class="text">Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.
          </p></span>
        </div>
        <div class="item"> 
          <p class="text text text--pick">&#xe0f9;
          </p><span class="item__block"> 
          <p class="text text text--caption">easy customization
          </p>
          <p class="text">Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.
          </p></span>
        </div>
        <div class="item"> 
          <p class="text text text--pick">&#xe033;
          </p><span class="item__block"> 
          <p class="text text text--caption">unlimited features
          </p>
          <p class="text">Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.
          </p></span>
        </div>
      </div>
      <div class="pic"><img class="pic__image" src="../static/img/ipads.webp" alt="IPad" title=""/>
      </div>
    </div>
  </div>
</section>