
<section class="section section--sixth">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl"><span class="marker">
    <p class="marker__text">&#xe085;
    </p></span>
    <div class="section-title section-title--dark">
      <div class="title-wrapper"><img class="title-wrapper__image title-wrapper__image--left" src="../static/img/3rhombs.svg" alt="Rombs" title=""/>
        <p class="text">company
        </p>
        <p class="text text text--decorate">facts
        </p><img class="title-wrapper__image title-wrapper__image--right" src="../static/img/3rhombs.svg" alt="Rombs" title=""/>
      </div>
      <p class="text text text--caption">We do love to work and increase our counter numbers, this is what we’ve done till now
      </p>
    </div>
    <div class="blocks-wrapper g-row g-row g-row--appearance_spaced">
      <div class="block g-cols g-cols g-cols--12-xs g-cols g-cols--6-sm g-cols g-cols--3-xl">
        <div class="block__item block__item--first">
          <p class="text text--pic">&#x5e;
          </p>
          <p class="text">218
          </p>
          <p class="text text--pic">&#x5e;
          </p>
        </div>
        <div class="block__item block__item--second"><span class="line"></span>
          <p class="text text--pic">&#x5a;
          </p><span class="line"></span>
        </div>
        <p class="text text--what">completed projects
        </p>
      </div>
      <div class="block g-cols g-cols g-cols--12-xs g-cols g-cols--6-sm g-cols g-cols--3-xl">
        <div class="block__item block__item--first">
          <p class="text text--pic">&#x5e;
          </p>
          <p class="text">360
          </p>
          <p class="text text--pic">&#x5e;
          </p>
        </div>
        <div class="block__item block__item--second"><span class="line"></span>
          <p class="text text--pic">&#xe0e1;
          </p><span class="line"></span>
        </div>
        <p class="text text--what">hours of work / month
        </p>
      </div>
      <div class="block g-cols g-cols g-cols--12-xs g-cols g-cols--6-sm g-cols g-cols--3-xl">
        <div class="block__item block__item--first">
          <p class="text text--pic">&#x5e;
          </p>
          <p class="text">135
          </p>
          <p class="text text--pic">&#x5e;
          </p>
        </div>
        <div class="block__item block__item--second"><span class="line"></span>
          <p class="text text--pic">&#xe07c;
          </p><span class="line"></span>
        </div>
        <p class="text text--what">solved tickets
        </p>
      </div>
      <div class="block g-cols g-cols g-cols--12-xs g-cols g-cols--6-sm g-cols g-cols--3-xl">
        <div class="block__item block__item--first">
          <p class="text text--pic">&#x5e;
          </p>
          <p class="text">174
          </p>
          <p class="text text--pic">&#x5e;
          </p>
        </div>
        <div class="block__item block__item--second"><span class="line"></span>
          <p class="text text--pic">&#xe0dd;
          </p><span class="line"></span>
        </div>
        <p class="text text--what">satisfied clients
        </p>
      </div>
    </div>
  </div>
</section>