
<section class="section section--tenth">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="slick-wrapper">
      <div class="cards-wrapper slick-partners">
        <div class="card"><a class="card__link" href="#"><img class="image" src="../static/img/partners/sce.webp" alt="Scenthound" title=""/></a>
        </div>
        <div class="card"><a class="card__link" href="#"><img class="image" src="../static/img/partners/vivi.webp" alt="Vividways" title=""/></a>
        </div>
        <div class="card"><a class="card__link" href="#"><img class="image" src="../static/img/partners/hoob.webp" alt="Hobnob" title=""/></a>
        </div>
        <div class="card"><a class="card__link" href="#"><img class="image" src="../static/img/partners/burn.webp" alt="Burnabox" title=""/></a>
        </div>
        <div class="card"><a class="card__link" href="#"><img class="image" src="../static/img/partners/sce.webp" alt="Scenthound" title=""/></a>
        </div>
        <div class="card"><a class="card__link" href="#"><img class="image" src="../static/img/partners/vivi.webp" alt="Vividways" title=""/></a>
        </div>
        <div class="card"><a class="card__link" href="#"><img class="image" src="../static/img/partners/hoob.webp" alt="Hobnob" title=""/></a>
        </div>
        <div class="card"><a class="card__link" href="#"><img class="image" src="../static/img/partners/burn.webp" alt="Burnabox" title=""/></a>
        </div>
      </div>
    </div>
  </div>
</section>