
<section class="section section--thirteenth"><img class="image" src="../static/img/logo.webp" alt="Startuprr" title=""/>
  <div class="social-wrapper"><a class="link" href="#">&#xe093;</a><a class="link" href="#">&#xe094;</a><a class="link" href="#">&#xe095;</a><a class="link" href="#">&#xe09e;</a><a class="link" href="#">&#xe09c;</a><a class="link" href="#">&#xe0a3;</a><a class="link" href="#">&#xe09d;</a><a class="link" href="#">&#xe09b;</a><a class="link" href="#">&#xe09f;</a><a class="link" href="#">&#xe0a4;</a><a class="link" href="#">&#xe098;</a>
  </div>
  <div class="map-container">
    <div class="map" id="map">
    </div>
    <form class="form js-form-ajax" id="form" data-action="https://httpbin.org/post" data-method="POST"><input class="field field--name" type="text" placeholder="Name" minlength="2" maxlength="50" pattern="^[a-zA-Zs]+$" name="name" data-rule="required|name"/><input class="field field--email" type="email" placeholder="Email Address" name="email" data-rule="required|email"/><textarea class="field field--text" type="text" placeholder="Message ..." maxlength="150" name="message"></textarea>
      <button class="btn" type="submit">submit message
      </button>
    </form>
  </div>
</section>