
<section class="section section--third">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="card-wrapper g-row g-row g-row--appearance_spaced">
      <div class="card g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-xl">
        <div class="flag">
          <div class="flag__item flag__item--top">
            <p class="text">&#xe00e;
            </p>
          </div>
          <div class="flag__item flag__item--bottom">
          </div>
        </div>
        <div class="card__item card__item--description">
          <h3 class="caption">responsive &amp; multipurpose</h3>
          <P class="text text--info">Desktops, Tablets &amp; Phones</P>
          <P class="text">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.</P>
        </div>
      </div>
      <div class="card g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-xl">
        <div class="flag">
          <div class="flag__item flag__item--top">
            <p class="text">&#xe0f9;
            </p>
          </div>
          <div class="flag__item flag__item--bottom">
          </div>
        </div>
        <div class="card__item card__item--description">
          <h3 class="caption">easy customization</h3>
          <P class="text text--info">One Click Demo Content Installation</P>
          <P class="text">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.</P>
        </div>
      </div>
      <div class="card g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-xl">
        <div class="flag">
          <div class="flag__item flag__item--top">
            <p class="text">&#xe033;
            </p>
          </div>
          <div class="flag__item flag__item--bottom">
          </div>
        </div>
        <div class="card__item card__item--description">
          <h3 class="caption">unlimited features</h3>
          <P class="text text--info">Shortcodes, Typography &amp; Different Layouts</P>
          <P class="text">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.</P>
        </div>
      </div>
      <div class="card g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-xl">
        <div class="flag">
          <div class="flag__item flag__item--top">
            <p class="text">&#xe056;
            </p>
          </div>
          <div class="flag__item flag__item--bottom">
          </div>
        </div>
        <div class="card__item card__item--description">
          <h3 class="caption">clean &amp; modular coding</h3>
          <P class="text text--info">100% Clean, Valid &amp; Well-Commented Coding</P>
          <P class="text">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.</P>
        </div>
      </div>
      <div class="card g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-xl">
        <div class="flag">
          <div class="flag__item flag__item--top">
            <p class="text">&#xe07a;
            </p>
          </div>
          <div class="flag__item flag__item--bottom">
          </div>
        </div>
        <div class="card__item card__item--description">
          <h3 class="caption">the best e-commerce solutions</h3>
          <P class="text text--info">WooCommerce Fully Integration</P>
          <P class="text">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.</P>
        </div>
      </div>
      <div class="card g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-xl">
        <div class="flag">
          <div class="flag__item flag__item--top">
            <p class="text">&#xe028;
            </p>
          </div>
          <div class="flag__item flag__item--bottom">
          </div>
        </div>
        <div class="card__item card__item--description">
          <h3 class="caption">awesome friendly support</h3>
          <P class="text text--info">Free Lifetime Support &amp; Updates</P>
          <P class="text">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.</P>
        </div>
      </div>
    </div>
  </div>
</section>