
<section class="section section--project"> 
  <div class="swiper swiper-second">
    <div class="cards-wrapper swiper-wrapper">
      <div class="card swiper-slide">
        <div class="wrap"><img class="image-slide" src="../../static/img/projekts/project1.png"/>
        </div>
      </div>
      <div class="card swiper-slide">
        <div class="wrap"><img class="image-slide" src="../../static/img/projekts/project2.png"/>
        </div>
      </div>
      <div class="card swiper-slide">
        <div class="wrap"><img class="image-slide" src="../../static/img/projekts/project3.png"/>
        </div>
      </div>
      <div class="card swiper-slide">
        <div class="wrap"><img class="image-slide" src="../../static/img/projekts/project4.png"/>
        </div>
      </div>
      <div class="card swiper-slide">
        <div class="wrap"><img class="image-slide" src="../../static/img/projekts/project5.png"/>
        </div>
      </div>
    </div><span class="swiper-button swiper-button--next-project"><img class="image" src="../../static/img/icon/sliderarrow.png"/></span><span class="swiper-button swiper-button--prev-project"><img class="image" src="../../static/img/icon/sliderarrow.png"/></span>
  </div>
  <div class="bread-bg">
  </div>
  <div class="breadcrumb-wrapper g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="breadcrumb"><a class="breadcrumb__link" href="../pages/index.html">Home</a>
      <p class="breadcrumb__text">/
      </p>
      <p class="breadcrumb__text breadcrumb__text--position">Project
      </p>
    </div>
  </div>
  <div class="text-wrap g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <p class="text">Template page
    </p>
  </div>
</section>
<section class="section section--about-project">
  <div class="info g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="info__item info__item--first">
      <p class="text text--subtitle">DESCRIPTION
      </p>
      <p class="text">Lorem ipsum dolor sit amet, in has dico nulla indoctum, duo tibique perfecto liberavisse ex. Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an. Has
      </p>
    </div>
    <div class="info__item info__item--photo">
      <p class="text text--subtitle">PRODUKTE
      </p>
      <div class="photos">
        <div class="photo-wrapper"> 
          <div class="photo"> 
            <div class="photo photo--bg"><img class="image" src="../../static/img/icon/eye.png"/>
            </div><img class="image" src="../../static/img/projekts/pr1.png"/>
          </div>
        </div>
        <div class="photo-wrapper"> 
          <div class="photo">
            <div class="photo photo--bg"><img class="image" src="../../static/img/icon/eye.png"/>
            </div><img class="image" src="../../static/img/projekts/pr2.png"/>
          </div>
        </div>
        <div class="photo-wrapper"> 
          <div class="photo">
            <div class="photo photo--bg"><img class="image" src="../../static/img/icon/eye.png"/>
            </div><img class="image" src="../../static/img/projekts/pr2.png"/>
          </div>
        </div>
        <div class="photo-wrapper"> 
          <div class="photo"> 
            <div class="photo photo--bg"><img class="image" src="../../static/img/icon/eye.png"/>
            </div><img class="image" src="../../static/img/projekts/pr3.png"/>
          </div>
        </div>
        <div class="photo-wrapper"> 
          <div class="photo"> 
            <div class="photo photo--bg"><img class="image" src="../../static/img/icon/eye.png"/>
            </div><img class="image" src="../../static/img/projekts/pr4.png"/>
          </div>
        </div>
      </div>
    </div>
    <div class="info__item info__item--kategories">
      <p class="text text--subtitle">TAGS
      </p>
      <div class="kategories-wrapper">
        <div class="kategories kategories--first">
          <p class="text">KATEGORIEN 1
          </p>
          <p class="text">KATEGORIEN 1
          </p>
          <p class="text">KATEGORIEN 1
          </p>
        </div>
        <div class="kategories kategories--second">
          <p class="text">KATEGORIEN 2
          </p>
          <p class="text">KATEGORIEN 2
          </p>
        </div>
      </div>
    </div>
  </div>
</section>