
<section class="section section--main-oops"><img class="image" src="../../static/img/oops.png" alt="background" title=""/>
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="oops-wrapper">
      <p class="text text--title">Oops! That page can’t be found.
      </p>
      <p class="text text--subtitle">Oops! That page can’t be found.
      </p>
      <form class="form search-form" action="../pages/results.html"><input class="field" type="search" placeholder="Search for" novalidate="novalidate"/>
        <button class="btn all-buttons" type="submit"> 
          <p class="text">SEARCH
          </p>
        </button>
      </form>
    </div>
  </div>
</section>