<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#8F67A4">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="app">
                        <header class="header header--white">
                                            <div class="section section--header">
                                                                <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                                    <div class="header-wrapper">
                                                                                                        <div class="menu-burger"> <span class="menu-burger__item menu-burger__item--top"> </span><span class="menu-burger__item menu-burger__item--center"> </span><span class="menu-burger__item menu-burger__item--bottom"></span>
                                                                                                        </div><a class="logo-link" href="#"> <img class="logo-image" src="../../static/img/logo.png" alt="luXed" title=""/></a>
                                                                                                        <ul class="header-menu"> 
                                                                                                                                  <li class="header-menu__item"> <a class="menu-link" href="#">Produkte</a>
                                                                                                                                  </li>
                                                                                                                                  <li class="header-menu__item"><a class="menu-link" href="#">Über Uns</a>
                                                                                                                                  </li>
                                                                                                                                  <li class="header-menu__item"> <a class="menu-link" href="#">Projekte</a>
                                                                                                                                  </li>
                                                                                                                                  <li class="header-menu__item"><a class="menu-link" href="#">News</a>
                                                                                                                                  </li>
                                                                                                                                  <li class="header-menu__item"> <a class="menu-link" href="#">Agenten</a>
                                                                                                                                  </li>
                                                                                                                                  <li class="header-menu__item"><a class="menu-link" href="#">Fachpartner</a>
                                                                                                                                  </li>
                                                                                                                                  <li class="header-menu__item header-menu__item--lang"><a class="menu-link" href="#">
                                                                                                                                                                              <p class="text text--lang text--de">DE 
                                                                                                                                                                              </p></a>
                                                                                                                                                      <p class="text text--lang">|
                                                                                                                                                      </p><a class="menu-link" href="#"><span class="text text--lang text--fr"> FR</span></a>
                                                                                                                                  </li>
                                                                                                        </ul>
                                                                                                        <div class="search"><img class="image" src="../../static/img/icon/search.png"/>
                                                                                                        </div>
                                                                                                        <div class="social-wrapper"><a class="social-wrapper__link" href="#"> <img class="image image--ico" src="../../static/img/icon/fb.svg"/></a><a class="social-wrapper__link" href="#"> <img class="image image--ico" src="../../static/img/icon/link.svg"/></a>
                                                                                                        </div>
                                                                                    </div>
                                                                </div><span class="line"></span>
                                            </div>
                        </header>
      <main class="main">
                                <section class="section section--slider"> 
                                                          <div class="swiper">
                                                                                    <div class="cards-wrapper swiper-wrapper">
                                                                                                              <div class="card swiper-slide">
                                                                                                                                        <div class="wrap"><img class="image-slide" src="../../static/img/slider/s1.png"/>
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                                              <div class="card swiper-slide">
                                                                                                                                        <div class="wrap"><img class="image-slide" src="../../static/img/slider/s2.png"/>
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                                              <div class="card swiper-slide">
                                                                                                                                        <div class="wrap"><img class="image-slide" src="../../static/img/slider/s3.png"/>
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                                              <div class="card swiper-slide">
                                                                                                                                        <div class="wrap"><img class="image-slide" src="../../static/img/slider/s4.png"/>
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                                              <div class="card swiper-slide">
                                                                                                                                        <div class="wrap"><img class="image-slide" src="../../static/img/slider/s5.png"/>
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                    </div>
                                                                                    <div class="controle-wrapper"> 
                                                                                                              <div class="swiper-button-prev"><img class="controle-image" src="../../static/img/icon/arrowSlider.png"/>
                                                                                                              </div>
                                                                                                              <div class="swiper-pagination">
                                                                                                              </div>
                                                                                                              <div class="swiper-button-next"><img class="controle-image" src="../../static/img/icon/arrowSlider.png"/>
                                                                                                              </div>
                                                                                    </div>
                                                                                    <p class="text">Licht zum sehen
                                                                                    </p>
                                                          </div>
                                </section>
      </main>
      <footer class="footer">
                          <section class="section section--footer">
                                              <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                  <div class="footer-wrapper">
                                                                                      <div class="block block--first"><a class="link link--logo" href="#"><img class="image-logo" src="../../static/img/logo.png" alt="luXed" title=""/></a>
                                                                                                                <div class="block__item">
                                                                                                                                    <div class="network-wrapper">
                                                                                                                                                        <p class="text text--caption">GET IN TOUCH WITH US 
                                                                                                                                                        </p>
                                                                                                                                                        <div class="links-wrapper"><a class="link link--social" href="#"><img class="image image--ico" src="../../static/img/icon/fb.svg"/>
                                                                                                                                                                                                    <p class="text">facebook
                                                                                                                                                                                                    </p></a><a class="link link--social" href="#"><img class="image image--ico" src="../../static/img/icon/link.svg"/>
                                                                                                                                                                                                    <p class="text">linkedin
                                                                                                                                                                                                    </p></a>
                                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="block__item">
                                                                                                                                    <div class="contact-wrapper">
                                                                                                                                                        <p class="text text--caption">OUR CONTACS:
                                                                                                                                                        </p>
                                                                                                                                                        <div class="contacts"><a class="link link--social" href="mailto:test@testmail.info"><img class="image image--ico" src="../../static/img/icon/mail.svg"/>
                                                                                                                                                                                                    <p class="text">test@testmail.info
                                                                                                                                                                                                    </p></a><a class="link link--social" href="tel:88003338182"><img class="image image--ico" src="../../static/img/icon/phone.svg"/>
                                                                                                                                                                                                    <p class="text">8-800-333-81-82
                                                                                                                                                                                                    </p></a>
                                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                </div>
                                                                                      </div>
                                                                                      <div class="block block--second">
                                                                                                          <div class="lang-wrapper"><a class="menu-link" href="#">
                                                                                                                                                      <p class="text text--lang text--de">DE 
                                                                                                                                                      </p></a>
                                                                                                                              <p class="text text--lang">|
                                                                                                                              </p><a class="menu-link" href="#"><span class="text text--lang text--fr"> FR</span></a>
                                                                                                          </div>
                                                                                                          <div class="footer-menu"> <a class="footer-menu__link" href="#">Produkte</a><a class="footer-menu__link" href="#">Über Uns </a><a class="footer-menu__link" href="#">News</a><a class="footer-menu__link" href="#">Agenten</a><a class="footer-menu__link" href="#">Fachpartner </a>
                                                                                                          </div>
                                                                                      </div>
                                                                  </div>
                                              </div>
                          </section>
                          <section class="section section--bottom">
                                              <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                  <div class="bottom-wrapper">
                                                                                      <div class="info-wrapper">
                                                                                                          <p class="text">Copyright &copy; 2018 SITENAME
                                                                                                          </p><a class="footer-link" href="#">General terms and conditions</a><a class="footer-link" href="#">Legal information</a>
                                                                                      </div><a class="footer-link footer-link--visable" href="#">Angepasst / Entworfen von WEBish</a>
                                                                  </div>
                                              </div>
                          </section>
      </footer>
    </div>
    <script type="text/javascript" src="/static/js/vendor.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAq4JCX3T23IUj32KRtJsrC5xzN0YDy7zM&amp;callback=initMap&amp;libraries=&amp;v=weekly" async></script>
  </body>
</html>