<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#8F67A4">
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/style.css">
    <link rel="icon" href="../../static/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="app">
                        <header class="header">
                                            <div class="section section--header">
                                                                <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                                    <div class="header-wrapper">
                                                                                                        <div class="menu-burger"> <span class="menu-burger__item menu-burger__item--top"> </span><span class="menu-burger__item menu-burger__item--center"> </span><span class="menu-burger__item menu-burger__item--bottom"></span>
                                                                                                        </div><a class="logo-link" href="../pages/index.html"> <img class="logo-image" src="../../static/img/logo.png" alt="luXed" title=""/></a>
                                                                                                        <ul class="header-menu"> 
                                                                                                                                  <li class="header-menu__item"> <a class="menu-link" href="../pages/produkte.html">Produkte</a>
                                                                                                                                  </li>
                                                                                                                                  <li class="header-menu__item"><a class="menu-link" href="../pages/uberunts.html">Über Uns</a>
                                                                                                                                  </li>
                                                                                                                                  <li class="header-menu__item"> <a class="menu-link" href="../pages/projekte.html">Projekte</a>
                                                                                                                                  </li>
                                                                                                                                  <li class="header-menu__item"><a class="menu-link" href="../pages/allenews.html">News</a>
                                                                                                                                  </li>
                                                                                                                                  <li class="header-menu__item"> <a class="menu-link" href="../pages/agenten.html">Agenten</a>
                                                                                                                                  </li>
                                                                                                                                  <li class="header-menu__item"><a class="menu-link" href="../pages/fachpartner.html">Fachpartner</a>
                                                                                                                                  </li>
                                                                                                                                  <li class="header-menu__item header-menu__item--lang"><a class="menu-link" href="#">
                                                                                                                                                                              <p class="text text--lang text--de">DE 
                                                                                                                                                                              </p></a>
                                                                                                                                                      <p class="text text--lang">|
                                                                                                                                                      </p><a class="menu-link" href="#"><span class="text text--lang text--fr"> FR</span></a>
                                                                                                                                  </li>
                                                                                                        </ul>
                                                                                                        <form class="form header-search" action="../pages/results.html"><input class="field js-input" type="search" placeholder="What are we looking for?"/>
                                                                                                                            <button class="btn all-buttons js-b" type="submit"> <img class="image js-b" src="../../static/img/icon/search.png"/>
                                                                                                                            </button>
                                                                                                        </form>
                                                                                                        <div class="search"><img class="image search-js" src="../../static/img/icon/search.png"/>
                                                                                                        </div>
                                                                                                        <div class="social-wrapper"><a class="social-wrapper__link" href="https://www.facebook.com/" target="_blank"> <img class="image image--ico" src="../../static/img/icon/fb.svg"/></a><a class="social-wrapper__link" href="https://www.linkedin.com/" target="_blank"> <img class="image image--ico" src="../../static/img/icon/link.svg"/></a>
                                                                                                        </div>
                                                                                    </div>
                                                                </div><span class="line"></span>
                                            </div>
                        </header>
      <main class="main">
                                <section class="section section--slider"> 
                                                          <div class="swiper">
                                                                                    <div class="cards-wrapper swiper-wrapper">
                                                                                                              <div class="card swiper-slide">
                                                                                                                                        <div class="wrap"><img class="image-slide" src="../../static/img/slider/s1.png"/>
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                                              <div class="card swiper-slide">
                                                                                                                                        <div class="wrap"><img class="image-slide" src="../../static/img/slider/s2.png"/>
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                                              <div class="card swiper-slide">
                                                                                                                                        <div class="wrap"><img class="image-slide" src="../../static/img/slider/s3.png"/>
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                                              <div class="card swiper-slide">
                                                                                                                                        <div class="wrap"><img class="image-slide" src="../../static/img/slider/s4.png"/>
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                                              <div class="card swiper-slide">
                                                                                                                                        <div class="wrap"><img class="image-slide" src="../../static/img/slider/s5.png"/>
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                    </div>
                                                                                    <div class="controle-wrapper"> 
                                                                                                              <div class="swiper-button-prev"><img class="controle-image" src="../../static/img/icon/arrowSlider.png"/>
                                                                                                              </div>
                                                                                                              <div class="swiper-pagination">
                                                                                                              </div>
                                                                                                              <div class="swiper-button-next"><img class="controle-image" src="../../static/img/icon/arrowSlider.png"/>
                                                                                                              </div>
                                                                                    </div>
                                                                                    <p class="text">Licht zum sehen
                                                                                    </p>
                                                          </div>
                                </section>
                                <section class="section section--coubes"> 
                                                          <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl g-container--fit_mac-mac g-container--fit_fhd-fhd">
                                                                                    <div class="coubes g-row g-row g-row--appearance_spaced">
                                                                                                                      <div class="coube-wrapper g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--3-xl">
                                                                                                                                                <div class="coube">
                                                                                                                                                                          <div class="side side--front">
                                                                                                                                                                                                    <p class="coube-text">WHAT
                                                                                                                                                                                                    </p>
                                                                                                                                                                          </div>
                                                                                                                                                                          <div class="side side--left">
                                                                                                                                                                          </div>
                                                                                                                                                                          <div class="side side--right">
                                                                                                                                                                          </div>
                                                                                                                                                                          <div class="side side--top">
                                                                                                                                                                          </div>
                                                                                                                                                                          <div class="side side--bottom">
                                                                                                                                                                          </div>
                                                                                                                                                                          <div class="side side--back"><a class="coube-link" href="../pages/produkte.html">Produkte</a>
                                                                                                                                                                          </div>
                                                                                                                                                </div>
                                                                                                                      </div>
                                                                                                                      <div class="coube-wrapper g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--3-xl">
                                                                                                                                                <div class="coube">
                                                                                                                                                                          <div class="side side--front">
                                                                                                                                                                                                    <p class="coube-text">WE
                                                                                                                                                                                                    </p>
                                                                                                                                                                          </div>
                                                                                                                                                                          <div class="side side--left">
                                                                                                                                                                          </div>
                                                                                                                                                                          <div class="side side--right">
                                                                                                                                                                          </div>
                                                                                                                                                                          <div class="side side--top">
                                                                                                                                                                          </div>
                                                                                                                                                                          <div class="side side--bottom">
                                                                                                                                                                          </div>
                                                                                                                                                                          <div class="side side--back"><a class="coube-link" href="../pages/uberunts.html">Über Uns</a>
                                                                                                                                                                          </div>
                                                                                                                                                </div>
                                                                                                                      </div>
                                                                                                                      <div class="coube-wrapper g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--3-xl">
                                                                                                                                                <div class="coube">
                                                                                                                                                                          <div class="side side--front">
                                                                                                                                                                                                    <p class="coube-text">do
                                                                                                                                                                                                    </p>
                                                                                                                                                                          </div>
                                                                                                                                                                          <div class="side side--left">
                                                                                                                                                                          </div>
                                                                                                                                                                          <div class="side side--right">
                                                                                                                                                                          </div>
                                                                                                                                                                          <div class="side side--top">
                                                                                                                                                                          </div>
                                                                                                                                                                          <div class="side side--bottom">
                                                                                                                                                                          </div>
                                                                                                                                                                          <div class="side side--back"><a class="coube-link" href="../pages/projekte.html">Projekte</a>
                                                                                                                                                                          </div>
                                                                                                                                                </div>
                                                                                                                      </div>
                                                                                                                      <div class="coube-wrapper g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--3-xl">
                                                                                                                                                <div class="coube">
                                                                                                                                                                          <div class="side side--front">
                                                                                                                                                                                                    <p class="coube-text">!
                                                                                                                                                                                                    </p>
                                                                                                                                                                          </div>
                                                                                                                                                                          <div class="side side--left">
                                                                                                                                                                          </div>
                                                                                                                                                                          <div class="side side--right">
                                                                                                                                                                          </div>
                                                                                                                                                                          <div class="side side--top">
                                                                                                                                                                          </div>
                                                                                                                                                                          <div class="side side--bottom">
                                                                                                                                                                          </div>
                                                                                                                                                                          <div class="side side--back"><a class="coube-link" href="../pages/allenews.html">News</a>
                                                                                                                                                                          </div>
                                                                                                                                                </div>
                                                                                                                      </div>
                                                                                    </div>
                                                          </div>
                                                          <p class="bg-text">EMOTION & DESIGN
                                                          </p>
                                </section>
                                <section class="section section--join"> <img class="bg-image" src="../../static/img/backgroundJoin.png" alt="Background" title=""/>
                                                          <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                                    <div class="form-border">
                                                                                                              <div class="form-wrapper"> 
                                                                                                                                        <h2 class="subtitle subtitle--join">Join our  mailing list
                                                                                                                                        </h2>
                                                                                                                                        <form class="form form--join js-form" id="form" data-action="https://httpbin.org/post" data-method="POST" novalidate><input class="field field--join" type="email" name="email" data-rule="required|email"/>
                                                                                                                                                                  <button class="btn btn--join all-buttons" type="submit"> 
                                                                                                                                                                                            <p class="text">join
                                                                                                                                                                                            </p><img class="image" src="../../static/img/icon/arrowRight.png" alt="arrow" title=""/>
                                                                                                                                                                  </button>
                                                                                                                                        </form>
                                                                                                              </div>
                                                                                    </div>
                                                          </div>
                                </section>
                                <section class="section block-text"> 
                                                          <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                                    <p class="text">Lorem ipsum dolor sit amet, in has dico nulla indoctum, duo tibique perfecto liberavisse ex. Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut.
                                                                                    </p>
                                                                                    <p class="text">No eum vidisse honestatis, no eam insolens recteque intellegam. Ea errem invidunt ius, quo solum audire evertitur id. Omnis harum debitis et eum, no his elit interpretaris, ei graece doming urbanitas usu. Vis adhuc laudem id.
                                                                                    </p>
                                                                                    <p class="text">Augue civibus nam ad. Duo no quod homero discere. Per quot tollit signiferumque in, mea cu congue malorum adipiscing, sit eu vidit dictas. Nonumes definiebas in nam, hinc dicat est eu. Vel ne officiis recusabo. An his primis fabulas. Adipisci partiendo ne sea. <a class="link link--readmore" href="#">Reade more</a>
                                                                                    </p>
                                                          </div>
                                </section>
      </main>
      <footer class="footer">
                          <section class="section section--footer">
                                              <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                  <div class="footer-wrapper">
                                                                                      <div class="block block--first"><a class="link link--logo" href="../pages/index.html"><img class="image-logo" src="../../static/img/logo.png" alt="luXed" title=""/></a>
                                                                                                                <div class="block__item">
                                                                                                                                    <div class="network-wrapper">
                                                                                                                                                        <p class="text text--caption">GET IN TOUCH WITH US 
                                                                                                                                                        </p>
                                                                                                                                                        <div class="links-wrapper"><a class="link link--social" href="https://www.facebook.com/" target="_blank"><img class="image image--ico" src="../../static/img/icon/fb.svg"/>
                                                                                                                                                                                                    <p class="text">facebook
                                                                                                                                                                                                    </p></a><a class="link link--social" href="https://www.linkedin.com/" target="_blank"><img class="image image--ico" src="../../static/img/icon/link.svg"/>
                                                                                                                                                                                                    <p class="text">linkedin
                                                                                                                                                                                                    </p></a>
                                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="block__item">
                                                                                                                                    <div class="contact-wrapper">
                                                                                                                                                        <p class="text text--caption">OUR CONTACS:
                                                                                                                                                        </p>
                                                                                                                                                        <div class="contacts"><a class="link link--social" href="mailto:test@testmail.info"><img class="image image--ico" src="../../static/img/icon/mail.svg"/>
                                                                                                                                                                                                    <p class="text">test@testmail.info
                                                                                                                                                                                                    </p></a><a class="link link--social" href="tel:88003338182"><img class="image image--ico" src="../../static/img/icon/phone.svg"/>
                                                                                                                                                                                                    <p class="text">8-800-333-81-82
                                                                                                                                                                                                    </p></a>
                                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                </div>
                                                                                      </div>
                                                                                      <div class="block block--second">
                                                                                                          <div class="lang-wrapper"><a class="menu-link" href="#">
                                                                                                                                                      <p class="text text--lang text--de">DE 
                                                                                                                                                      </p></a>
                                                                                                                              <p class="text text--lang">|
                                                                                                                              </p><a class="menu-link" href="#"><span class="text text--lang text--fr"> FR</span></a>
                                                                                                          </div>
                                                                                                          <div class="footer-menu"> <a class="footer-menu__link" href="../pages/produkte.html">Produkte</a><a class="footer-menu__link" href="../pages/uberunts.html">Über Uns </a><a class="footer-menu__link" href="../pages/allenews.html">News</a><a class="footer-menu__link" href="../pages/agenten.html">Agenten</a><a class="footer-menu__link" href="../pages/fachpartner.html">Fachpartner </a>
                                                                                                          </div>
                                                                                      </div>
                                                                  </div>
                                              </div>
                          </section>
                          <section class="section section--bottom">
                                              <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                  <div class="bottom-wrapper">
                                                                                      <div class="info-wrapper">
                                                                                                          <p class="text">Copyright &copy; 2018 SITENAME
                                                                                                          </p><a class="footer-link" href="#">General terms and conditions</a><a class="footer-link" href="#">Legal information</a>
                                                                                      </div><a class="footer-link footer-link--visable" href="#">Angepasst / Entworfen von WEBish</a>
                                                                  </div>
                                              </div>
                          </section>
      </footer>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAq4JCX3T23IUj32KRtJsrC5xzN0YDy7zM&amp;callback=initMap&amp;libraries=&amp;v=weekly"></script>
    <script type="text/javascript" src="../../static/js/vendor.js"></script>
    <script type="text/javascript" src="../../static/js/main.js"></script>
  </body>
</html>
