
<section class="section section--news">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="news-wrapper g-row g-row g-row--appearance_spaced">
      <div class="new g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-xl">
        <div class="new-card-wrapper"><a class="link" href="../pages/nachrichtentitel.html"><img class="link__image" src="../../static/img/news/news1.png" alt="news-card" title=""/>
          <p class="text text--date">22.08.2018
          </p></a>
          <p class="text text--name">Nachrichtentitel
          </p>
        </div>
      </div>
      <div class="new g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-xl">
        <div class="new-card-wrapper"><a class="link" href="../pages/nachrichtentitel.html"><img class="link__image" src="../../static/img/news/news2.png" alt="news-card" title=""/>
          <p class="text text--date">22.08.2018
          </p></a>
          <p class="text text--name">Nachrichtentitel
          </p>
        </div>
      </div>
      <div class="new g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-xl">
        <div class="new-card-wrapper"><a class="link" href="../pages/nachrichtentitel.html"><img class="link__image" src="../../static/img/news/news3.png" alt="news-card" title=""/>
          <p class="text text--date">22.08.2018
          </p></a>
          <p class="text text--name">Nachrichtentitel
          </p>
        </div>
      </div>
      <div class="new g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-xl">
        <div class="new-card-wrapper"><a class="link" href="../pages/nachrichtentitel.html"><img class="link__image" src="../../static/img/news/news4.png" alt="news-card" title=""/>
          <p class="text text--date">22.08.2018
          </p></a>
          <p class="text text--name">Nachrichtentitel
          </p>
        </div>
      </div>
      <div class="new g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-xl">
        <div class="new-card-wrapper"><a class="link" href="../pages/nachrichtentitel.html"><img class="link__image" src="../../static/img/news/news5.png" alt="news-card" title=""/>
          <p class="text text--date">22.08.2018
          </p></a>
          <p class="text text--name">Nachrichtentitel
          </p>
        </div>
      </div>
      <div class="new g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-xl">
        <div class="new-card-wrapper"><a class="link" href="../pages/nachrichtentitel.html"><img class="link__image" src="../../static/img/news/news6.png" alt="news-card" title=""/>
          <p class="text text--date">22.08.2018
          </p></a>
          <p class="text text--name">Nachrichtentitel
          </p>
        </div>
      </div>
      <div class="new g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-xl">
        <div class="new-card-wrapper"><a class="link" href="../pages/nachrichtentitel.html"><img class="link__image" src="../../static/img/news/news7.png" alt="news-card" title=""/>
          <p class="text text--date">22.08.2018
          </p></a>
          <p class="text text--name">Nachrichtentitel
          </p>
        </div>
      </div>
      <div class="new g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-xl">
        <div class="new-card-wrapper"><a class="link" href="../pages/nachrichtentitel.html"><img class="link__image" src="../../static/img/news/news8.png" alt="news-card" title=""/>
          <p class="text text--date">22.08.2018
          </p></a>
          <p class="text text--name">Nachrichtentitel
          </p>
        </div>
      </div>
      <div class="new g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-xl">
        <div class="new-card-wrapper"><a class="link" href="../pages/nachrichtentitel.html"><img class="link__image" src="../../static/img/news/news9.png" alt="news-card" title=""/>
          <p class="text text--date">22.08.2018
          </p></a>
          <p class="text text--name">Nachrichtentitel
          </p>
        </div>
      </div>
    </div>
    <div class="pagination-wrapper"> 
      <div class="number"> 
        <p class="text">1
        </p>
      </div>
      <div class="number"> 
        <p class="text">2
        </p>
      </div>
      <div class="number number--is-active">
        <p class="text">3
        </p>
      </div>
      <div class="number"> 
        <p class="text">4
        </p>
      </div>
      <div class="number"> 
        <p class="text">5
        </p>
      </div>
    </div>
  </div>
</section>