
<section class="section section--filter"> 
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="filter-wrapper">
      <div class="filter-btn filter-btn filter-btn--is-active" data-filter="*">
        <p class="text">ALLE
        </p>
      </div>
      <div class="filter-btn" data-filter=".office">
        <p class="text">OFFICE
        </p>
      </div>
      <div class="filter-btn" data-filter=".education">
        <p class="text">EDUCATIONAL INSTITUTION
        </p>
      </div>
      <div class="filter-btn" data-filter=".restaurant">
        <p class="text">RESTAURANT
        </p>
      </div>
      <div class="filter-btn" data-filter=".hotel">
        <p class="text">HOTEL
        </p>
      </div>
    </div>
    <div class="filter-content" id="filter">
      <div class="filter-card office">
        <div class="new-card-wrapper"><a class="link" href="../pages/projekt.html"><img class="link__image" src="../../static/img/projektes/pr1.png" alt="news-card" title=""/>
          <p class="text text--date">
          </p></a>
          <p class="text text--name">Name des Projekts
          </p>
        </div>
      </div>
      <div class="filter-card office education">
        <div class="new-card-wrapper"><a class="link" href="../pages/projekt.html"><img class="link__image" src="../../static/img/projektes/pr2.png" alt="news-card" title=""/>
          <p class="text text--date">
          </p></a>
          <p class="text text--name">Name des Projekts
          </p>
        </div>
      </div>
      <div class="filter-card education">
        <div class="new-card-wrapper"><a class="link" href="../pages/projekt.html"><img class="link__image" src="../../static/img/projektes/pr3.png" alt="news-card" title=""/>
          <p class="text text--date">
          </p></a>
          <p class="text text--name">Name des Projekts
          </p>
        </div>
      </div>
      <div class="filter-card education">
        <div class="new-card-wrapper"><a class="link" href="../pages/projekt.html"><img class="link__image" src="../../static/img/projektes/pr4.png" alt="news-card" title=""/>
          <p class="text text--date">
          </p></a>
          <p class="text text--name">Name des Projekts
          </p>
        </div>
      </div>
      <div class="filter-card restaurant">
        <div class="new-card-wrapper"><a class="link" href="../pages/projekt.html"><img class="link__image" src="../../static/img/projektes/pr5.png" alt="news-card" title=""/>
          <p class="text text--date">
          </p></a>
          <p class="text text--name">Name des Projekts
          </p>
        </div>
      </div>
      <div class="filter-card hotel">
        <div class="new-card-wrapper"><a class="link" href="../pages/projekt.html"><img class="link__image" src="../../static/img/projektes/pr6.png" alt="news-card" title=""/>
          <p class="text text--date">
          </p></a>
          <p class="text text--name">Name des Projekts
          </p>
        </div>
      </div>
      <div class="filter-card hotel">
        <div class="new-card-wrapper"><a class="link" href="../pages/projekt.html"><img class="link__image" src="../../static/img/projektes/pr7.png" alt="news-card" title=""/>
          <p class="text text--date">
          </p></a>
          <p class="text text--name">Name des Projekts
          </p>
        </div>
      </div>
      <div class="filter-card hotel">
        <div class="new-card-wrapper"><a class="link" href="../pages/projekt.html"><img class="link__image" src="../../static/img/projektes/pr8.png" alt="news-card" title=""/>
          <p class="text text--date">
          </p></a>
          <p class="text text--name">Name des Projekts
          </p>
        </div>
      </div>
      <div class="filter-card hotel">
        <div class="new-card-wrapper"><a class="link" href="../pages/projekt.html"><img class="link__image" src="../../static/img/projektes/pr9.png" alt="news-card" title=""/>
          <p class="text text--date">
          </p></a>
          <p class="text text--name">Name des Projekts
          </p>
        </div>
      </div>
    </div>
  </div>
</section>