
<section class="section section--main-projekte"> 
  <div class="bg"><img class="bg__image" src="../../static/img/backgroundUber.png" alt="Background" title=""/>
  </div>
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="breadcrumb"><a class="breadcrumb__link" href="../pages/index.html">Home</a>
      <p class="breadcrumb__text">/
      </p>
      <p class="breadcrumb__text breadcrumb__text--position">Projekte
      </p>
    </div>
    <h2 class="subtitle">Projekte
    </h2>
  </div>
</section>