
<section class="section section--join"> <img class="bg-image" src="../../static/img/backgroundJoin.png" alt="Background" title=""/>
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="form-border">
      <div class="form-wrapper"> 
        <h2 class="subtitle subtitle--join">Join our  mailing list
        </h2>
        <form class="form form--join js-form" id="form" data-action="https://httpbin.org/post" data-method="POST" novalidate><input class="field field--join" type="email" name="email" data-rule="required|email"/>
          <button class="btn btn--join all-buttons" type="submit"> 
            <p class="text">join
            </p><img class="image" src="../../static/img/icon/arrowRight.png" alt="arrow" title=""/>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>