
<section class="section section--slider"> 
  <div class="swiper">
    <div class="cards-wrapper swiper-wrapper">
      <div class="card swiper-slide">
        <div class="wrap"><img class="image-slide" src="../../static/img/slider/s1.png"/>
        </div>
      </div>
      <div class="card swiper-slide">
        <div class="wrap"><img class="image-slide" src="../../static/img/slider/s2.png"/>
        </div>
      </div>
      <div class="card swiper-slide">
        <div class="wrap"><img class="image-slide" src="../../static/img/slider/s3.png"/>
        </div>
      </div>
      <div class="card swiper-slide">
        <div class="wrap"><img class="image-slide" src="../../static/img/slider/s4.png"/>
        </div>
      </div>
      <div class="card swiper-slide">
        <div class="wrap"><img class="image-slide" src="../../static/img/slider/s5.png"/>
        </div>
      </div>
    </div>
    <div class="controle-wrapper"> 
      <div class="swiper-button-prev"><img class="controle-image" src="../../static/img/icon/arrowSlider.png"/>
      </div>
      <div class="swiper-pagination">
      </div>
      <div class="swiper-button-next"><img class="controle-image" src="../../static/img/icon/arrowSlider.png"/>
      </div>
    </div>
    <p class="text">Licht zum sehen
    </p>
  </div>
</section>