
<section class="section section--information-uber">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="block-information-uber"><img class="image image--bg" src="../../static/img/bigx.png"/>
      <div class="text-wrapper text-wrapper text-wrapper--l">
        <div class="letter-wrapper"><img class="image image--letter" src="../../static/img/letters/l.png"/>
          <p class="text text--caption">Light
          </p>
        </div>
        <p class="text">Unsere Passion ist das Licht. Unsere Mission ist das Licht so einzusetzen, dass es im Einklang mit der gesamten Architektur ist. Daher ist es wichtig in der Beleuchtung die vorhandene Materialien und Strukturen von Anfang an zu berücksichtigen.
        </p>
      </div>
      <div class="text-wrapper text-wrapper text-wrapper--u">
        <div class="letter-wrapper"><img class="image image--letter" src="../../static/img/letters/u.png"/>
          <p class="text text--caption">Unique
          </p>
        </div>
        <p class="text">Wir entwickeln, in enger Zusammenarbeit mit unseren Kunden, eine einzigartige Identität für neue oder bestehende Innenräume und Aussenanlagen.
        </p>
      </div>
      <div class="text-wrapper text-wrapper text-wrapper--x">
        <div class="letter-wrapper"><img class="image image--letter" src="../../static/img/letters/x.png"/>
          <p class="text text--caption">eXtraordinary
          </p>
        </div>
        <p class="text">Unser Luxed Team zeichnet sich durch Kreativität, Leidenschaft, Präzision und Reichtum an Ideen aus. Daraus resultieren am Ende immer interessante und aussergewöhnliche Projekte.
        </p>
      </div>
      <div class="text-wrapper text-wrapper text-wrapper--e">
        <div class="letter-wrapper"><img class="image image--letter" src="../../static/img/letters/e.png"/>
          <p class="text text--caption">Emotion
          </p>
        </div>
        <p class="text">Licht schafft Emotionen. Je nachdem wie wir das Licht einsetzen und welche Art von Licht wir verwenden, entstehen beim Menschen verschiedene Emotionen. Wir sorgen dafür, dass bei jedem Konzept die gewollte Atmosphäre erschaffen wird.
        </p>
      </div>
      <div class="text-wrapper text-wrapper text-wrapper--d">
        <div class="letter-wrapper"><img class="image image--letter" src="../../static/img/letters/d.png"/>
          <p class="text text--caption">Design
          </p>
        </div>
        <p class="text">Ob schlicht oder extravagant, ein klares Design wird immer durch Eleganz und Authentizität widergespiegelt. Wir kreieren Räume für bleibende Eindrücke und individuelle Erlebnisse.
        </p>
      </div>
    </div>
    <p class="text text--section-name">PICTURE COMPANY
    </p>
    <div class="pic-wrapper g-row g-row g-row--appearance_spaced">
      <div class="pic g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--3-lg"><img class="pic__image pic__image--company" src="../../static/img/company/pic1.png" alt="pic" title=""/>
      </div>
      <div class="pic g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--3-lg"><img class="pic__image pic__image--company" src="../../static/img/company/pic2.png" alt="pic" title=""/>
      </div>
      <div class="pic g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--3-lg"><img class="pic__image pic__image--company" src="../../static/img/company/pic3.png" alt="pic" title=""/>
      </div>
      <div class="pic g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--3-lg"><img class="pic__image pic__image--company" src="../../static/img/company/pic4.png" alt="pic" title=""/>
      </div>
    </div>
  </div>
</section>