
<section class="section section--main-uber">
  <div class="bg"><img class="bg__image" src="../../static/img/backgroundUber.png" alt="Background" title=""/>
  </div>
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="breadcrumb"><a class="breadcrumb__link" href="../pages/index.html">Home</a>
      <p class="breadcrumb__text">/
      </p>
      <p class="breadcrumb__text breadcrumb__text--position">Über Uns
      </p>
    </div>
    <h2 class="subtitle">Über Uns
    </h2>
    <div class="department-wrapper">
      <p class="department-wrapper__text">LUXED Beleuchtungen GmbH
      </p>
      <p class="department-wrapper__text department-wrapper__text--shot">|
      </p><a class="department-wrapper__link department-wrapper__link--phone" href="tel:+41619030380">phone: +41 61 903 03 80</a>
    </div>
  </div>
</section>