
<section class="section section--map-uber">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="section-name-wrap"> 
      <p class="text text--section-name">ADRESS
      </p>
      <div class="maps"> 
        <p class="text text--section-name">GOOGLE MAPS | 
        </p>
        <p class="text text--map">MAPS
        </p>
      </div>
    </div>
    <div class="map-wrapper"> 
      <div class="communications-wprapper"> 
        <div class="communications communications--location">
          <div class="communications__image"><img class="image" src="../../static/img/icon/communications/location.png" alt="location" title=""/>
          </div>
          <div class="communications__text-wrapper">
            <p class="text">LUXED Beleuchtungen GmbH 
            </p>
            <p class="text">Benzburweg 18A
            </p>
            <p class="text">CH- 4410 Liestal
            </p>
          </div>
        </div>
        <div class="communications communications--phones">
          <div class="communications__image"><img class="image" src="../../static/img/icon/communications/phone.png" alt="phone" title=""/>
          </div>
          <div class="communications__text-wrapper"><a class="link connection" href="tel:+41619030380">+41 61 903 03 80</a><a class="link connection" href="tel:+41619030380">+41 61 903 03 80</a>
          </div>
        </div>
        <div class="communications communications--mail">
          <div class="communications__image"><img class="image" src="../../static/img/icon/communications/mail.png" alt="mail" title=""/>
          </div>
          <div class="communications__text-wrapper"><a class="link connection" href="mailto:TESTTEST@gmail.com">TESTTEST@gmail.com</a>
          </div>
        </div>
        <div class="communications communications--time">
          <div class="communications__image"><img class="image" src="../../static/img/icon/communications/time.png" alt="time" title=""/>
          </div>
          <div class="communications__text-wrapper">
            <p class="text">Mo – Do  
            </p>
            <p class="text">08.00 – 12.00 Uhr
            </p>
            <p class="text">13.00 – 17.30 Uhr
            </p><br/>
            <p class="text">Fr
            </p>
            <p class="text">08.00 – 12.00 Uhr
            </p>
            <p class="text">13.00 – 16.30 Uhr
            </p>
          </div>
        </div>
      </div>
      <div class="map map--uber" id="map">
      </div>
      <div class="infowindow">
        <p class="text">Name der Region
        </p>
        <p class="text">LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal
        </p><a class="link" href="#">GET DIRECTION</a>
      </div>
    </div>
  </div>
</section>