
<header class="header">
        <section class="section section--general">
                <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl g-container--fit_mac-mac g-container--fit_fhd-fhd">
                        <div class="information">
                                <p class="text">what are you waiting for ?
                                </p>
                                <h2 class="subtitle">let’s be creative !
                                </h2>
                                  <div class="information__item information__item--first"> 
                                          <h1 class="title">Startuprr,
                                          </h1>
                                          <p class="text">next generation & highly flexible wordpress theme
                                          </p>
                                  </div>
                                  <div class="information__item information__item--second"><span class="lines lines--left"></span><img class="information__image information__image--left" src="../static/img/3rhombs.svg" alt="Rombs" title=""/>
                                          <p class="text text text--decorate">start
                                          </p>
                                          <p class="text"> doing that
                                          </p><img class="information__image information__image--right" src="../static/img/3rhombs.svg" alt="Rombs" title=""/><span class="lines lines--right"></span>
                                  </div>
                                <p class="text text text--accept">&#x3b;
                                </p>
                        </div>
                </div>
        </section>
        <section class="section section--header">
                <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                        <div class="header-wrapper"><img class="header-wrapper__image" src="../static/img/logo.webp" alt="Startuprr" title=""/>
                                <div class="header-burger"><span class="header-burger__line header-burger__line--top"> </span><span class="header-burger__line header-burger__line--center"> </span><span class="header-burger__line header-burger__line--bottom"></span>
                                </div>
                                <ul class="header-menu"> 
                                          <li class="header-menu__item"><a class="header-menu__link" href="#">home</a>
                                          </li>
                                          <li class="header-menu__item"><a class="header-menu__link" href="#">portfolio</a>
                                          </li>
                                          <li class="header-menu__item"><a class="header-menu__link" href="#">blog </a>
                                          </li>
                                          <li class="header-menu__item"><a class="header-menu__link" href="#">pages </a>
                                          </li>
                                          <li class="header-menu__item"><a class="header-menu__link" href="#">features </a>
                                          </li>
                                          <li class="header-menu__item"><a class="header-menu__link" href="#">mega menu</a>
                                          </li>
                                          <li class="header-menu__item"><a class="header-menu__link" href="#">contact</a>
                                          </li>
                                          <li class="header-menu__item header-menu__item--search js-item-search"><span class="search-icon"> 
                                                          <p class="text">&#x55;
                                                          </p></span>
                                          </li>
                                </ul>
                                <div class="search"><input class="search-field" type="search" placeholder="Write here..."/>
                                </div>
                        </div>
                </div>
        </section>
</header>