
<section class="section section--company-first">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="company">
      <div class="company__item company__item--logo"> <img class="image image--company" src="../../static/img/company.png" alt="Logo" title=""/>
        <p class="text">LOGO COMPANY
        </p>
      </div>
      <p class="text">Mit dem richtigen Riecher hat DGA zu Zeiten als noch niemand wirklich daran glaubte, das Potenzial der LED-Technologie erkannt und in diesem Sektor schon früh investiert. Mit Leidenschaft, Qualität und zeitloser Eleganz im Design hat DGA hochwertige Produkte entwickelt, welche die aktuellen Bedürfnisse in der Beleuchtung fortlaufend ansprechen und durch innovative Ideen auch neue Bedürfnisse zu wecken vermag
      </p>
      <div class="company__item company__item--price"> 
        <p class="text">Download 
        </p><a class="btn all-buttons" href="#"> 
        <p class="text">Price list
        </p><img class="image" src="../../static/img/icon/arrowRight.png"/></a>
      </div>
    </div>
    <div class="product-wrapper g-row g-row g-row--appearance_spaced">
      <div class="product-card g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--3-xl"><a class="product" href="#"> <span class="product__item"><img class="image" src="../../static/img/product/product1.png"/></span><span class="product__item product__item--second"><span class="text-wrapper">
        <p class="text text-tag">tag1
        </p>
        <p class="text text-tag">tag2
        </p>
        <p class="text text-tag">tag3
        </p></span></span></a>
        <p class="text text--producte">Name des Produkte
        </p>
      </div>
      <div class="product-card g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--3-xl"><a class="product" href="#"> <span class="product__item"><img class="image" src="../../static/img/product/product2.png"/></span><span class="product__item product__item--second"><span class="text-wrapper">
        <p class="text text-tag">tag1
        </p>
        <p class="text text-tag">tag2
        </p>
        <p class="text text-tag">tag3
        </p></span></span></a>
        <p class="text text--producte">Name des Produkte
        </p>
      </div>
      <div class="product-card g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--3-xl"><a class="product" href="#"> <span class="product__item"><img class="image" src="../../static/img/product/product3.png"/></span><span class="product__item product__item--second"><span class="text-wrapper">
        <p class="text text-tag">tag1
        </p>
        <p class="text text-tag">tag2
        </p>
        <p class="text text-tag">tag3
        </p></span></span></a>
        <p class="text text--producte">Name des Produkte
        </p>
      </div>
      <div class="product-card g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--3-xl"><a class="product" href="#"> <span class="product__item"><img class="image" src="../../static/img/product/product4.png"/></span><span class="product__item product__item--second"><span class="text-wrapper">
        <p class="text text-tag">tag1
        </p>
        <p class="text text-tag">tag2
        </p>
        <p class="text text-tag">tag3
        </p></span></span></a>
        <p class="text text--producte">Name des Produkte
        </p>
      </div>
      <div class="product-card g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--3-xl"><a class="product" href="#"> <span class="product__item"><img class="image" src="../../static/img/product/product5.png"/></span><span class="product__item product__item--second"><span class="text-wrapper">
        <p class="text text-tag">tag1
        </p>
        <p class="text text-tag">tag2
        </p>
        <p class="text text-tag">tag3
        </p></span></span></a>
        <p class="text text--producte">Name des Produkte
        </p>
      </div>
      <div class="product-card g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--3-xl"><a class="product" href="#"> <span class="product__item"><img class="image" src="../../static/img/product/product6.png"/></span><span class="product__item product__item--second"><span class="text-wrapper">
        <p class="text text-tag">tag1
        </p>
        <p class="text text-tag">tag2
        </p>
        <p class="text text-tag">tag3
        </p></span></span></a>
        <p class="text text--producte">Name des Produkte
        </p>
      </div>
      <div class="product-card g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--3-xl"><a class="product" href="#"> <span class="product__item"><img class="image" src="../../static/img/product/product7.png"/></span><span class="product__item product__item--second"><span class="text-wrapper">
        <p class="text text-tag">tag1
        </p>
        <p class="text text-tag">tag2
        </p>
        <p class="text text-tag">tag3
        </p></span></span></a>
        <p class="text text--producte">Name des Produkte
        </p>
      </div>
      <div class="product-card g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--3-xl"><a class="product" href="#"> <span class="product__item"><img class="image" src="../../static/img/product/product8.png"/></span><span class="product__item product__item--second"><span class="text-wrapper">
        <p class="text text-tag">tag1
        </p>
        <p class="text text-tag">tag2
        </p>
        <p class="text text-tag">tag3
        </p></span></span></a>
        <p class="text text--producte">Name des Produkte
        </p>
      </div>
    </div>
    <div class="company">
      <div class="company__item company__item--logo"> <img class="image image--company" src="../../static/img/company.png" alt="Logo" title=""/>
        <p class="text">LOGO COMPANY
        </p>
      </div>
      <p class="text">Mit dem richtigen Riecher hat DGA zu Zeiten als noch niemand wirklich daran glaubte, das Potenzial der LED-Technologie erkannt und in diesem Sektor schon früh investiert. Mit Leidenschaft, Qualität und zeitloser Eleganz im Design hat DGA hochwertige Produkte entwickelt, welche die aktuellen Bedürfnisse in der Beleuchtung fortlaufend ansprechen und durch innovative Ideen auch neue Bedürfnisse zu wecken vermag
      </p>
      <div class="company__item company__item--price"> 
        <p class="text">Download 
        </p><a class="btn all-buttons" href="#"> 
        <p class="text">Price list
        </p><img class="image" src="../../static/img/icon/arrowRight.png"/></a>
      </div>
    </div>
    <div class="product-wrapper g-row g-row g-row--appearance_spaced">
      <div class="product-card g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--3-xl"><a class="product" href="#"> <span class="product__item"><img class="image" src="../../static/img/product/product1.png"/></span><span class="product__item product__item--second"><span class="text-wrapper">
        <p class="text text-tag">tag1
        </p>
        <p class="text text-tag">tag2
        </p>
        <p class="text text-tag">tag3
        </p></span></span></a>
        <p class="text text--producte">Name des Produkte
        </p>
      </div>
      <div class="product-card g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--3-xl"><a class="product" href="#"> <span class="product__item"><img class="image" src="../../static/img/product/product2.png"/></span><span class="product__item product__item--second"><span class="text-wrapper">
        <p class="text text-tag">tag1
        </p>
        <p class="text text-tag">tag2
        </p>
        <p class="text text-tag">tag3
        </p></span></span></a>
        <p class="text text--producte">Name des Produkte
        </p>
      </div>
      <div class="product-card g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--3-xl"><a class="product" href="#"> <span class="product__item"><img class="image" src="../../static/img/product/product3.png"/></span><span class="product__item product__item--second"><span class="text-wrapper">
        <p class="text text-tag">tag1
        </p>
        <p class="text text-tag">tag2
        </p>
        <p class="text text-tag">tag3
        </p></span></span></a>
        <p class="text text--producte">Name des Produkte
        </p>
      </div>
      <div class="product-card g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--4-lg g-cols g-cols--3-xl"><a class="product" href="#"> <span class="product__item"><img class="image" src="../../static/img/product/product4.png"/></span><span class="product__item product__item--second"><span class="text-wrapper">
        <p class="text text-tag">tag1
        </p>
        <p class="text text-tag">tag2
        </p>
        <p class="text text-tag">tag3
        </p></span></span></a>
        <p class="text text--producte">Name des Produkte
        </p>
      </div>
    </div>
  </div>
</section>