
<section class="section section--coubes"> 
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl g-container--fit_mac-mac g-container--fit_fhd-fhd">
    <div class="coubes g-row g-row g-row--appearance_spaced">
      <div class="coube-wrapper g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--3-xl">
        <div class="coube">
          <div class="side side--front">
            <p class="coube-text">WHAT
            </p>
          </div>
          <div class="side side--left">
          </div>
          <div class="side side--right">
          </div>
          <div class="side side--top">
          </div>
          <div class="side side--bottom">
          </div>
          <div class="side side--back"><a class="coube-link" href="#">Produkte</a>
          </div>
        </div>
      </div>
      <div class="coube-wrapper g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--3-xl">
        <div class="coube">
          <div class="side side--front">
            <p class="coube-text">WE
            </p>
          </div>
          <div class="side side--left">
          </div>
          <div class="side side--right">
          </div>
          <div class="side side--top">
          </div>
          <div class="side side--bottom">
          </div>
          <div class="side side--back"><a class="coube-link" href="#">Über Uns</a>
          </div>
        </div>
      </div>
      <div class="coube-wrapper g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--3-xl">
        <div class="coube">
          <div class="side side--front">
            <p class="coube-text">do
            </p>
          </div>
          <div class="side side--left">
          </div>
          <div class="side side--right">
          </div>
          <div class="side side--top">
          </div>
          <div class="side side--bottom">
          </div>
          <div class="side side--back"><a class="coube-link" href="#">Projekte</a>
          </div>
        </div>
      </div>
      <div class="coube-wrapper g-cell g-cols g-cols g-cols--12-xs g-cols g-cols--6-md g-cols g-cols--3-xl">
        <div class="coube">
          <div class="side side--front">
            <p class="coube-text">!
            </p>
          </div>
          <div class="side side--left">
          </div>
          <div class="side side--right">
          </div>
          <div class="side side--top">
          </div>
          <div class="side side--bottom">
          </div>
          <div class="side side--back"><a class="coube-link" href="News">Produkte</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="bg-text">EMOTION & DESIGN
  </p>
</section>