
<header class="header header--white">
  <div class="section section--header">
    <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
      <div class="header-wrapper">
        <div class="menu-burger"> <span class="menu-burger__item menu-burger__item--top"> </span><span class="menu-burger__item menu-burger__item--center"> </span><span class="menu-burger__item menu-burger__item--bottom"></span>
        </div><a class="logo-link" href="../pages/index.html"> <img class="logo-image" src="../../static/img/logo.png" alt="luXed" title=""/></a>
        <ul class="header-menu"> 
          <li class="header-menu__item"> <a class="menu-link" href="../pages/produkte.html">Produkte</a>
          </li>
          <li class="header-menu__item"><a class="menu-link" href="../pages/uberunts.html">Über Uns</a>
          </li>
          <li class="header-menu__item"> <a class="menu-link" href="../pages/projekte.html">Projekte</a>
          </li>
          <li class="header-menu__item"><a class="menu-link" href="../pages/allenews.html">News</a>
          </li>
          <li class="header-menu__item"> <a class="menu-link" href="../pages/agenten.html">Agenten</a>
          </li>
          <li class="header-menu__item"><a class="menu-link" href="../pages/fachpartner.html">Fachpartner</a>
          </li>
          <li class="header-menu__item header-menu__item--lang"><a class="menu-link" href="#">
            <p class="text text--lang text--de">DE 
            </p></a>
            <p class="text text--lang">|
            </p><a class="menu-link" href="#"><span class="text text--lang text--fr"> FR</span></a>
          </li>
        </ul>
        <form class="form header-search" action="../pages/results.html"><input class="field js-input" type="search" placeholder="What are we looking for?"/>
          <button class="btn all-buttons js-b" type="submit"> <img class="image js-b" src="../../static/img/icon/search.png"/>
          </button>
        </form>
        <div class="search"><img class="image search-js" src="../../static/img/icon/search.png"/>
        </div>
        <div class="social-wrapper"><a class="social-wrapper__link" href="https://www.facebook.com/" target="_blank"> <img class="image image--ico" src="../../static/img/icon/fb.svg"/></a><a class="social-wrapper__link" href="https://www.linkedin.com/" target="_blank"> <img class="image image--ico" src="../../static/img/icon/link.svg"/></a>
        </div>
      </div>
    </div><span class="line"></span>
  </div>
</header>
