
<section class="section section--content">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <section class="section section--primary"><img class="image image--main" src="../../static/img/pic1.png"/>
      <div class="content-block content-block--first">
        <h3 class="content-block__text content-block__text--description">Lorem ipsum dolor sit amet, in has dico nulla indoctum 
        </h3>
        <p class="content-block__text">duo tibique perfecto liberavisse ex. Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut.
        </p>
        <p class="content-block__text">Augue civibus nam ad. Duo no quod homero discere. Per quot tollit signiferumque in, mea cu congue malorum adipiscing, sit eu vidit dictas. Nonumes definiebas in nam, hinc dicat est eu. Vel ne officiis recusabo. An his primis fabulas. Adipisci partiendo ne sea. <a class="link link--readmore" href="#">Reade more</a>
        </p>
      </div>
      <div class="content-block content-block--second">
        <div class="t-content">
          <table class="table">
            <thead class="string tabel-bg">
              <th class="head">Column 1
              </th>
              <th class="head">Column 2
              </th>
              <th class="head">Column 3
              </th>
              <th class="head">Column 4
              </th>
              <th class="head">Column 5
              </th>
            </thead>
            <tdbody>
              <tr class="string">
                <td>Column 1
                </td>
                <td>Column 2
                </td>
                <td>Column 3
                </td>
                <td>Column 4
                </td>
                <td>Column 5
                </td>
              </tr>
              <tr class="string tabel-bg">
                <td>Column 1
                </td>
                <td>Column 2
                </td>
                <td>Column 3
                </td>
                <td>Column 4
                </td>
                <td>Column 5
                </td>
              </tr>
              <tr class="string">
                <td>Column 1
                </td>
                <td>Column 2
                </td>
                <td>Column 3
                </td>
                <td>Column 4
                </td>
                <td>Column 5
                </td>
              </tr>
              <tr class="string tabel-bg">
                <td>Column 1
                </td>
                <td>Column 2
                </td>
                <td>Column 3
                </td>
                <td>Column 4
                </td>
                <td>Column 5
                </td>
              </tr>
            </tdbody>
          </table>
        </div>
      </div>
      <div class="content-block content-block--third"><span class="black-line"> </span>
        <p class="text">Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut.Augue civibus nam ad. Duo no quod homero discere. Per quot tollit signiferumque in, mea cu congue malorum adipiscing, sit eu vidit dictas. Nonumes definiebas in nam,
        </p>
      </div>
      <div class="content-block content-block--fourth">
        <div class="text-wrapper"><span class="dot"></span>
          <p class="text">Augue civibus nam ad. Duo no quod homero discere. Per quot tollit signiferumque in, mea cu congue malorum adipiscing, sit eu vidit dictas. Nonumes definiebas in nam, hinc dicat est eu. Vel ne officiis recusabo. An his primis fabulas. Adipisci partiendo ne sea. 
          </p>
        </div>
        <div class="text-wrapper"><span class="dot"></span>
          <p class="text">Liber eloquentiam eos te, ad discere volutpat mnesarchum est. Ei est mutat mazim primis. An mea mucius utroque, quando nominavi scaevola ad duo. Est cu wisi facer aliquip, in vim mucius docendi ancillae. Duo id volumus persecuti. Platonem scripserit in nec. Vitae audiam ocurreret mei ex.
          </p>
        </div>
        <div class="text-wrapper"><span class="dot"></span>
          <p class="text">Usu cu luptatum reprehendunt, viris delenit an his, molestie fabellas te eam. Eos eu quando honestatis, solum dolorum petentium cum ea, cu sit appetere pericula. An nam justo legere assueverit, ut eum graecis dissentiet. Sumo tractatos est no, 
          </p>
        </div>
      </div>
      <div class="content-block content-block--first content-block--fifth">
        <h3 class="content-block__text content-block__text--description">Lorem ipsum dolor sit amet, in has dico nulla indoctum 
        </h3>
        <p class="content-block__text">duo tibique perfecto liberavisse ex. Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut.
        </p>
        <p class="content-block__text">Augue civibus nam ad. Duo no quod homero discere. Per quot tollit signiferumque in, mea cu congue malorum adipiscing, sit eu vidit dictas. Nonumes definiebas in nam, hinc dicat est eu. Vel ne officiis recusabo. An his primis fabulas. Adipisci partiendo ne sea.
        </p>
      </div>
      <div class="content-block content-block--sixth">
        <div class="content-block__item">
          <p class="text text--number">1
          </p>
          <p class="text">Augue civibus nam ad. Duo no quod homero discere. Per quot tollit signiferumque in, mea cu congue malorum adipiscing, sit eu vidit dictas. Nonumes definiebas in nam, hinc dicat est eu. Vel ne officiis recusabo. An his primis fabulas. Adipisci partiendo ne sea. 
          </p>
        </div>
        <div class="content-block__item">
          <p class="text text--number">2
          </p>
          <p class="text">Liber eloquentiam eos te, ad discere volutpat mnesarchum est. Ei est mutat mazim primis. An mea mucius utroque, quando nominavi scaevola ad duo. Est cu wisi facer aliquip, in vim mucius docendi ancillae. Duo id volumus persecuti. Platonem scripserit in nec. Vitae audiam ocurreret mei ex.
          </p>
        </div>
        <div class="content-block__item">
          <p class="text text--number">3
          </p>
          <p class="text">Usu cu luptatum reprehendunt, viris delenit an his, molestie fabellas te eam. Eos eu quando honestatis, solum dolorum petentium cum ea, cu sit appetere pericula. An nam justo legere assueverit, ut eum graecis dissentiet. Sumo tractatos est no, 
          </p>
        </div>
      </div>
      <div class="content-block content-block--seventh">
        <div class="content-block__item content-block__item--tags"> 
          <p class="text">TAGS
          </p>
          <div class="link-wrapper"> <a class="link coment-tag" href="#">KATEGORIEN 1</a>
          </div>
          <div class="link-wrapper"> <a class="link coment-tag" href="#">KATEGORIEN 2</a>
          </div>
          <div class="link-wrapper"> <a class="link coment-tag" href="#">KATEGORIEN 3</a>
          </div>
          <div class="link-wrapper"> <a class="link coment-tag" href="#">KATEGORIEN 4</a>
          </div>
          <div class="link-wrapper"> <a class="link coment-tag" href="#">KATEGORIEN 5</a>
          </div>
        </div>
        <div class="content-block__item content-block__item--coments">
          <div class="coment-card"><img class="image image--avatar" src="../../static/img/avatars/ava1.jpg"/>
            <div class="coment-wrapper">
              <div class="name-wrapper"> 
                <p class="text text--name">Oliver Rice
                </p>
                <p class="text text--time">sagt: 27.08.2018 um 13:49 Uhr
                </p>
              </div>
              <p class="text text--coment">Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut.
              </p>
            </div>
          </div>
          <div class="coment-card"><img class="image image--avatar" src="../../static/img/avatars/ava2.jpg"/>
            <div class="coment-wrapper">
              <div class="name-wrapper"> 
                <p class="text text--name">Adela Butler 
                </p>
                <p class="text text--time">sagt: 27.08.2018 um 13:49 Uhr
                </p>
              </div>
              <p class="text text--coment">Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut.
              </p>
            </div>
          </div>
          <div class="coment-card"><img class="image image--avatar" src="../../static/img/avatars/ava3.jpeg"/>
            <div class="coment-wrapper">
              <div class="name-wrapper"> 
                <p class="text text--name">Andrew Ber
                </p>
                <p class="text text--time">sagt: 27.08.2018 um 13:49 Uhr
                </p>
              </div>
              <p class="text text--coment">Id postea doming utamur qui. Mea labore viderer gloriatur cu, iriure principes ne qui. Tempor maiestatis duo ei, cum vero utinam reprimique an. Has mollis volutpat et. An placerat adipisci his, cibo efficiantur his ut.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="content-block content-block--eighth">
        <h3 class="content-block__text content-block__text--description">SCHREIBE EINEN KOMMENTAR
        </h3>
        <p class="text">Deine E-Mail-Adresse wird nicht veröffentlicht. Erforderliche Felder sind mit * markiert.
        </p>
        <form class="form form--coment js-form" data-action="https://httpbin.org/post" data-method="POST" novalidate>
          <div class="field-wrapper"><input class="field" type="email" placeholder="Email Address" name="email" data-rule="required|email"/><input class="field" type="text" placeholder="Name" name="name" data-rule="required|name"/>
          </div><textarea class="field field--text" type="text" placeholder="Kommentar" name="message"></textarea>
          <button class="btn all-buttons" type="submit">KOMMENTAR ABSCHICKEN
          </button>
        </form>
      </div>
    </section>
    <section class="section section--secondary">
      <div class="new-card-wrapper"><a class="link" href="../pages/nachrichtentitel.html"><img class="link__image" src="../../static/img/news/news1.png" alt="news-card" title=""/>
        <p class="text text--date">22.08.2020
        </p></a>
        <p class="text text--name">Nachrichtentitel
        </p>
      </div>
      <div class="new-card-wrapper"><a class="link" href="../pages/nachrichtentitel.html"><img class="link__image" src="../../static/img/news/news2.png" alt="news-card" title=""/>
        <p class="text text--date">22.08.2020
        </p></a>
        <p class="text text--name">Nachrichtentitel
        </p>
      </div>
      <div class="new-card-wrapper"><a class="link" href="../pages/nachrichtentitel.html"><img class="link__image" src="../../static/img/news/news3.png" alt="news-card" title=""/>
        <p class="text text--date">22.08.2020
        </p></a>
        <p class="text text--name">Nachrichtentitel
        </p>
      </div>
    </section>
  </div>
</section>