
<section class="section section--map-agenten">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="filter-wrapper">
      <div class="filter-btn filter-btn filter-btn--is-active" data-filter="*">
        <p class="text">ALLE
        </p>
      </div>
      <div class="filter-btn" data-filter=".reg1">
        <p class="text">NAME DER REGION 1
        </p>
      </div>
      <div class="filter-btn" data-filter=".reg2">
        <p class="text">NAME DER REGION 2
        </p>
      </div>
      <div class="filter-btn" data-filter=".reg3">
        <p class="text">NAME DER REGION 3
        </p>
      </div>
      <div class="filter-btn" data-filter=".reg4">
        <p class="text">NAME DER REGION 4
        </p>
      </div>
      <div class="filter-btn" data-filter=".reg5">
        <p class="text">NAME DER REGION 5
        </p>
      </div>
    </div>
  </div>
  <div class="map map--fach" id="map3">
  </div>
  <div class="infowindow">
    <p class="text">Name der Region
    </p>
    <p class="text">LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal
    </p><a class="link" href="#">GET DIRECTION</a>
  </div>
  <div class="infowindow">
    <p class="text">Name der Region
    </p>
    <p class="text">LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal
    </p><a class="link" href="#">GET DIRECTION</a>
  </div>
  <div class="infowindow">
    <p class="text">Name der Region
    </p>
    <p class="text">LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal
    </p><a class="link" href="#">GET DIRECTION</a>
  </div>
</section>