
<section class="section section--contcts">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="cards-contact-wrapper" id="filter3">
      <div class="filter-card reg1">
        <div class="card-contact">
          <p class="text text--title">Name der Region
          </p>
          <p class="text">LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal
          </p>
        </div>
      </div>
      <div class="filter-card reg1">
        <div class="card-contact">
          <p class="text text--title">Name der Region
          </p>
          <p class="text">LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal
          </p>
        </div>
      </div>
      <div class="filter-card reg2">
        <div class="card-contact">
          <p class="text text--title">Name der Region
          </p>
          <p class="text">LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal
          </p>
        </div>
      </div>
      <div class="filter-card reg3">
        <div class="card-contact">
          <p class="text text--title">Name der Region
          </p>
          <p class="text">LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal
          </p>
        </div>
      </div>
      <div class="filter-card reg4">
        <div class="card-contact">
          <p class="text text--title">Name der Region
          </p>
          <p class="text">LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal
          </p>
        </div>
      </div>
      <div class="filter-card reg4">
        <div class="card-contact">
          <p class="text text--title">Name der Region
          </p>
          <p class="text">LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal
          </p>
        </div>
      </div>
      <div class="filter-card reg5">
        <div class="card-contact">
          <p class="text text--title">Name der Region
          </p>
          <p class="text">LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal
          </p>
        </div>
      </div>
      <div class="filter-card reg5">
        <div class="card-contact">
          <p class="text text--title">Name der Region
          </p>
          <p class="text">LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal
          </p>
        </div>
      </div>
      <div class="filter-card reg5">
        <div class="card-contact">
          <p class="text text--title">Name der Region
          </p>
          <p class="text">LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal
          </p>
        </div>
      </div>
    </div>
  </div>
</section>