
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/img/fav.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gelasio:wght@500;700&family=Ribeye&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <title>TrevLand</title>
   </head>
  <body>
     <div class="container">
      <header class="main-header">
         <div class="header-wrapper">
            <p class="text text--logo">Trevland</p>
            <div class="header-wrapper__container">
               <div class="header-burger">
                  <span class="header-burger__btn header-burger__btn--top"></span>
                  <span class="header-burger__btn header-burger__btn-center"></span>
                  <span class="header-burger__btn header-burger__btn--bottom"></span>
               </div>
               <ul class="header-menu">
                  <li class="header-menu__item"><a href="" class="header-menu__link">Home</a></li>
                  <li class="header-menu__item"><a href="" class="header-menu__link">Location</a></li>
                  <li class="header-menu__item"><a href="" class="header-menu__link">Blog</a></li>
                  <li class="header-menu__item"><a href="" class="header-menu__link">About</a></li>
                  <li class="header-menu__item"><a href="" class="header-menu__link">Contact</a></li>
               </ul>
               <a href="" class="button">Booking now</a>
            </div>
         </div>
         <section class="section section--header">
         <h1 class="title">Railtrips To Here, There And Everywhere!</h1>
         <p class="text">We all wish to start our year the best way possible and also according to a common belief if you have a great start to your.</p>
         <a href="" class="button">Explore more</a> 
         </section>
      </header>
    
      <main class="main">
         <section class="section section--first">
            <h2 class="title">Popular Location</h2>
            <p class="text">For every one of us, travel came first. We’ve spent years living as nomads, pioneers, and voyagers— from island hopping in the</p>
            <div class="cards-wrapper">
               <a href="" class="card-item">
                  <img src="../static/img/location/istanbul.svg" alt="Istanbul, Turkey" class="card-item__img">
                  <h3 class="title">Istanbul, Turkey</h3>
                  <p class="text">Istanbul is a major city in Turkey that straddles Europe. </p>
               </a>

               <a href="" class="card-item">
                  <img src="../static/img/location/kualaLumpur.svg" alt="Kuala Lumpur, Malaysia" class="card-item__img">
                  <h3 class="title">Kuala Lumpur, Malaysia</h3>
                  <p class="text">A 272-step long trek leads you to this century.</p>
               </a>
            

               <a href="" class="card-item">
                  <img src="../static/img/location/seoul.svg" alt="Seoul, South Korea" class="card-item__img">
                  <h3 class="title">Seoul, South Korea</h3>
                  <p class="text">South Korea officially the Republic of Korea is a country in East Asia.</p>
               </a>
            
            
            </div>
         </section>

         <section class="section section--second">
            <h2 class="title">From Blog & News</h2>
            <p class="text">Welcome to Community Conversations, a new interview series featuring Intrepid travellers, creatives and activists in our community.</p>
         
            <div class="cards-wrapper">
            
               <a href="" class="card-item card-item--focus">
                  <img src="../static/img/blog/banffNP.svg" alt="" class="card-item__img">
                  <div class="card-item__about">
                     <h3 class="title">Banff National Park</h3>
                     <p class="text">Banff National Park lies in the heart of the majestic Rocky Mountains in the province of Alberta, and showcases some of Canada's most beautiful scenery. Turquoise-colored lakes, snow-capped peaks, and glaciers are all easily accessible </p>
                     <p class="text text--mention">@thomasalva_adison</p>
                  </div>
               </a>
            
               <a href="" class="card-item">
                  <img src="../static/img/blog/hiroshima.svg" alt="" class="card-item__img">
                  <div class="card-item__about">
                     <h3 class="title">The Hiroshima Peace!</h3>
                     <p class="text">It was formally opened to the public in August that year.</p>
                     <p class="text text--mention">@shova_bd88</p>
                  </div>
               </a>
            
               <a href="" class="card-item">
                  <img src="../static/img/blog/india.svg" alt="" class="card-item__img">
                  <div class="card-item__about">
                     <h3 class="title">The faithful prayers!</h3>
                     <p class="text">A major pilgrimage center for Hindus, the holy city.</p>
                     <p class="text text--mention">@adem/smith</p>
                  </div>   
               </a>
                           
               <a href="" class="card-item">
                  <img src="../static/img/blog/pakistan.svg" alt="" class="card-item__img">
                  <div class="card-item__about">
                     <h3 class="title">Colourful waters!</h3>
                     <p class="text">Forest-driven water and energy cycles are poorly.</p>
                     <p class="text text--mention">@jhon7leew</p>
                  </div>
               </a>                      
            </div>
         </section>
      </main>
      <footer class="main-footer">
         <div class="main-footer__container">
            <div class="footer-block footer-block--about">
               <a href="" class="footer-block__link">Trevland</a>
               <div class="social-block">
                  <a href="" class="social-block__link"><img src="../static/img/social/fb.png" alt="Facbook" class="social-block__img"></a>
                  <a href="" class="social-block__link"><img src="../static/img/social/img.png" alt="Instagram" class="social-block__img"></a>
                  <a href="" class="social-block__link"><img src="../static/img/social/tw.png" alt="Twitter" class="social-block__img"></a>
                  <a href="" class="social-block__link"><img src="../static/img/social/gg.png" alt="Google" class="social-block__img"></a>
               </div>
               <p class="text">Contact us</p>
               <p class="text text--mention">@shovasatkhira88.com</p>
            </div>
            
            <div class="footer-block footer-block--menu">
               <a href="" class="footer-block__link">Services</a>
               <a href="" class="footer-block__link">About</a>
               <a href="" class="footer-block__link">Our story</a>
               <a href="" class="footer-block__link">Benefits</a>
               <a href="" class="footer-block__link">Branding</a>
            </div>
            
            <div class="footer-block footer-block--menu">
               <a href="" class="footer-block__link">Legal</a>
               <a href="" class="footer-block__link">Terms & Conditions</a>
               <a href="" class="footer-block__link">Privecy Policy</a>
               <a href="" class="footer-block__link">Terms of use</a>
            </div>
            
            <div class="footer-block footer-block--subscribe">
               <p class="text">SUBSCRIBE NOW</p>
               <form action="#" class="form" method="post">
                  <input type="email" class="form__field" placeholder="Email">
                  <button class="button" type="submit">Send</button>
               </form>

            </div>
         </div>
      </footer>
   </div>   
<script src="../static/js/main.js"></script>
</body>
</html>